<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/sb/js/vue.js"></script>
    <script type="text/javascript" src="/sb/js/axios.min.js"></script>
    <!-- 引入样式 -->
    <!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
    <link rel="stylesheet" href="../css/elementui.css">
    <!-- 引入组件库 -->
    <!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
    <script type="text/javascript" src="../js/elementui.js"></script>
</head>
<body>
    <div class="diva">
        <el-form  :label-position="labelPosition" label-width="80px" :model="power">
            <!--<el-form-item label="节点ID">-->
                <!--<el-input v-model="power.id"></el-input>-->
            <!--</el-form-item>-->

            <el-form-item label="节点名称" >
                <el-input v-model="power.name"></el-input>
            </el-form-item>

            <el-form-item label="父节点" >
                <el-select v-model="power.parentid"  placeholder="请选择父节点" >
                    <el-option label="0级节点" :value="0"></el-option>
                    <el-option v-for="t in treeData"  :key="t.id" :label="t.label" :value="t.id"></el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="图标" >
                <el-select v-model="power.iconcls"  placeholder="请选择图标" >
                    <el-option v-for="t in icons"  :label="t.name" :value="t.value"></el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="URL">
                <el-input v-model="power.url"></el-input>
            </el-form-item>

            <el-form-item size="large">
                    <el-button type="success" @click="onSubmit" round>添加</el-button>
            </el-form-item>
        </el-form>
    </div>
<script>
    var vm = new Vue({
        el: ".diva",
        data: {
            power: {
                id:0,
                name:'',
                iconcls: '',
                parentid:'',
                url:''
            },
            treeData:[],
            labelPosition: 'left',
            icons:[{"name":"菜单","value":"el-icon-menu"},
                {"name":"编辑","value":"el-icon-setting"},
                {"name":"右箭头","value":"el-icon-caret-right"},
                {"name":"下箭头","value":"el-icon-caret-bottom"},
                {"name":"添加","value":"el-icon-circle-plus"},
                {"name":"删除","value":"el-icon-remove"}],
        },
        created:function(){
            var _self =this
            axios.post("/sb/power/tree").then(function(response){
               _self.iconClass=response.data.iconClass;
                _self.treeData = response.data;
            });

        },
        methods:{
            onSubmit:function(){
                var ur="/sb/power/add";
                var _self = this;
                var formData = _self.power;
                axios.post(ur,formData).then(function(response){
                    if(response.data>0){
                        _self.$message({
                            message:'添加成功',
                            type: 'success'
                        });
                        //alert("添加成功");
                        window.parent.parent.location.href=window.parent.parent.location.href;
                    }else{
                        _self.$message({
                            message:'添加失败',
                            type: 'error'
                        });
                    }
                })
            }
        }
    })
</script>
</body>
</html>