<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>权限树</title>
    <script type="text/javascript" src="/sb/js/vue.js"></script>
    <script type="text/javascript" src="/sb/js/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style>
        .el-header, .el-footer {
            background-color: #B3C0D1;
            color: #333;
            text-align: center;
            line-height: 60px;
        }

        .el-aside {
            background-color: #D3DCE6;
            color: #333;
            text-align: center;
            line-height: 200px;
        }

        .el-main {
            background-color: #E9EEF3;
            color: #333;
            text-align: center;
        }

        body > .el-container {
            margin-bottom: 40px;
        }

        .el-container:nth-child(5) .el-aside,
        .el-container:nth-child(6) .el-aside {
            line-height: 260px;
        }

        .el-container:nth-child(7) .el-aside {
            line-height: 320px;
        }
    </style>
</head>
<body>
<div class="diva">
    <el-container>
        <el-container>
            <el-aside width="200px" style="height: 600px;">
                <el-tree id="tt"
                        :data="treeData"
                        accordion
                        @node-click="handleNodeClick"
                        :icon-class="icon"
                >
                </el-tree>
            </el-aside>
            <el-main style="height: auto;">
                <el-tabs v-model="editableTabsValue2" type="card" closable >
                    <el-tab-pane
                            v-for="(item, index) in editableTabs2"
                            :key="item.name"
                            :label="item.title"
                            :name="item.name"
                    >
                        <el-row>
                            <el-form  :label-position="labelPosition" label-width="80px" :model="power" ref="power">
                                <el-form-item label="节点名称" prop="name">
                                    </el-input><el-input v-model="power.name"></el-input>
                                </el-form-item>

                                <el-form-item label="父节点" prop="parentid">
                                    <el-input v-model="power.parentid" ></el-input>
                                    <!--<el-select v-model="power.parentid" placeholder="请选择父节点" @click="selected">-->
                                        <!--<el-option v-for="parent in power" label="parent.parentname" :value="parent.parentid"></el-option>-->
                                        <!--<el-option  label="parent" value="beijing"></el-option>-->
                                    <!--</el-select>-->
                                </el-form-item>

                                <el-form-item label="图标" prop="iconcls">
                                    <el-input v-model="power.iconcls"></el-input>
                                </el-form-item>

                                <el-form-item label="URL" prop="url">
                                    <el-input v-model="power.url"></el-input>
                                </el-form-item>

                                <el-form-item size="large">
                                    <el-button type="primary" @click="onSubmit">更新</el-button>
                                    <el-button type="primary" @click="OnDel">删除</el-button>
                                </el-form-item>
                            </el-form>
                        </el-row>

                    </el-tab-pane>
                </el-tabs>

            </el-main>
        </el-container>
    </el-container>
</div>
<script>
    var vm = new Vue({
        el:".diva",
        data:{
            icon:'el-icon-menu',
            treeData:[],
            editableTabsValue2: '2',
            editableTabs2: [ {
                title: '编辑',
                name: '2',
                url: 'toUpdate?id=110'
            }],
            labelPosition: 'right',
            power: [{
                id:0,
                name: '',
                parentid: '',
                parentname:'',
                iconcls: '',
                url: ''
            }],
            tabIndex: 2,
            options:[],
            gourl:'',
        },
        created:function(){
            var _self =this
            axios.post("/sb/power/tree").then(function(response){
                _self.treeData = response.data;
            });

        },
        methods: {
            handleNodeClick: function (node) {
                //alert("节点ID:"+node.id+",   节点名称："+node.label+",   url："+node.url);
                var URL="/sb/power/toUpdate?id="+node.id;
//                this.editableTabs2.url=URL;
//                alert("url="+this.editableTabs2.url);
                var _self=this;
                axios.post(URL).then(function(response){
                    _self.power= response.data;
                })
            },
            onSubmit:function(){
                var ur="/sb/power/update";
                var _self = this;
                var formData =this.power;
                axios.post(ur,formData).then(function(response){
                    if(response.data>0){
                        _self.$message({
                            message:'更新成功',
                            type: 'success'
                        });
                        alert("更新成功");
                        window.parent.parent.location.href=window.parent.parent.location.href;
                    }else{
                        _self.$message({
                            message:'操作失败',
                            type: 'error'
                        });
                    }
                })
            },
            OnDel:function () {
                var url="/sb/power/delete";
                var _self = this;
                var id=this.power;
                //alert(id);
                axios.post(url,id).then(function (response) {
                    if(response.data>0){
                        _self.$message({
                            message:'删除成功',
                            type: 'success'
                        });
                        window.parent.parent.location.href=window.parent.parent.location.href;
                    }else{
                        _self.$message({
                            message:'操作失败',
                            type: 'error'
                        });
                    }
                })
            }
        }
    })
</script>

</body>
</html>