<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>挂账办理</title>
    <!-- 引入样式 -->
    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript" src="../js/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../css/elementui.css">
    <!--  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
    <!-- 引入组件库 -->
    <!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
    <script src="../js/elementui.js"></script>

</head>
<body>
<div id="app">
    <h2>{{ message }}</h2>
</div>

<div id="tableView">
    <!--列表顶部搜索和工具条-->
    <el-row>
        <el-form :inline="true" :model="searchForm" class="demo-form-inline">
            <el-form-item label="单位名称">
                <el-input v-model="searchForm.uname" placeholder="单位名称"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" round :plain="true" icon="el-icon-search"  @click="searchClick">查询</el-button>
                <el-button type="primary" round :plain="true" icon="el-icon-search"  @click="searchClick1">刷新</el-button>
            </el-form-item>
        </el-form>
    </el-row>
    <!--列表-->
    <el-row>
        <el-table
                :data="tableData"
                v-loading.body="loading"
                border
                style="width: 100%">
            <el-table-column
                    prop="DWZH"
                    label="单位账号"
                    align="center"
                    width="150">
            </el-table-column>
            <el-table-column
                    prop="uname"
                    label="单位名称"
                    align="center"
                    width="240">
            </el-table-column>

            <el-table-column
                    prop="uDepositRatio"
                    label="单位存缴比例(%)"
                    align="center"
                    width="150">
            </el-table-column>
            <el-table-column
                    prop="uPersonRatio"
                    label="个人存缴比例(%)"
                    align="center"
                    width="150">
            </el-table-column>
            <el-table-column
                    prop="uDepositedPnum"
                    label="单位存缴人数"
                    align="center"
                    width="150">
            </el-table-column>
            <el-table-column
                    prop="uARemain"
                    label="单位账户余额"
                    align="center"
                    width="150">
            </el-table-column>
            <el-table-column
                    prop="uaOweMonery"
                    label="月应缴存金额"
                    align="center"
                    width="150">
            </el-table-column>
            <el-table-column
                    prop="uaState"
                    label="单位账户状态"
                    align="center"
                    width="150">
            </el-table-column>
            <el-table-column
                    prop="uaPayEndDate"
                    label="单位缴至年月"
                    align="center"
                    width="150">
            </el-table-column>
            <el-table-column
                    label="操作"
                    align="center">
                <template scope="scope">
                    <el-button :plain="true" round type="success" size="small" icon="edit" @click="editClick(scope.row)">挂账办理</el-button>
                </template>
            </el-table-column>
        </el-table>
    </el-row>
    <!--列表底部工具条和分页符-->
    <el-row style="margin-top: 20px" type="flex" justify="end">
        <el-col :span="18" >
            <el-pagination
                    style="float: right"
                    @size-change="pageSizeChange"
                    @current-change="currentPageChange"
                    :current-page="currentPage"
                    :page-sizes="[10, 20, 30, 50]"
                    :page-size="pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="total">
            </el-pagination>
        </el-col>
    </el-row>

    <!--编辑界面-->

    <el-dialog title="挂账办理" :visible.sync="editFormVisible" width="1000px" :close-on-click-modal="false" >
        <div id="edit">
            <h2>{{ message}}</h2>
        </div>
        <el-form :model="editForm" status-icon  label-width="110px" :rules="rules2" ref="editForm">
            <el-form-item label="单位账号" prop="DWZH">
                <el-input v-model="editForm.DWZH" readonly="true" auto-complete="off" ></el-input>
            </el-form-item>
            <el-form-item label="单位名称" prop="uname">
                <el-input v-model="editForm.uname" readonly="true"   auto-complete="off" ></el-input>
            </el-form-item>
            <el-form-item label="公司余额" prop="uARemain">
                <el-input v-model="editForm.uARemain" readonly="true"  auto-complete="off" ></el-input>
            </el-form-item>
            <el-form-item label="挂账金额：" prop="gzje">
                <el-input-number v-model="editForm.gzje" @blur="blurSearchFor" :min="1000" :max="300000" style="width:220px;height:20px;" auto-complete="off" ></el-input-number>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" round :plain="true" icon="el-icon-circle-check-outline" @click.native="passSubmit" :loading="editLoading" >保存调整</el-button>
            <el-button  round :plain="true" @click.native="editFormVisible = false" >关闭</el-button>
        </div>
    </el-dialog>

</div>

<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            message: '挂账办理'
        }
    });
    var edit = new Vue({
        el: '#edit',
        data: {
            message: '挂账办理,适用于人员变动不频繁的单位'
        }
    });
    var tableView = new Vue({
        el: '#tableView',
        data: {
            indiNrop:'',
            salary:'',
            active:0,
            divs:0,
            aa:0,
            //列表数据
            tableData: [],
            //显示加载中样式
            loading:false,
            //搜索表单
            searchForm: {
                uname: ''
            },
            //当前页
            currentPage:1,
            //分页大小
            pageSize:10,
            //总记录数
            total:800,
            //编辑界面是否显示
            editFormVisible: false,
            editLoading: false,
            goUrl:'',
            //编辑界面数据
            editForm: {
                DWZH:'',
                uname:'',
                uARemain: 0,
                gzje: '',
            },
        },
        created:function(){
            //在 then的内部不能使用Vue的实例化的this, 因为在内部 this 没有被绑定。
            var self = this;
            var start =(self.currentPage-1)*self.pageSize;
            var end =self.pageSize;
            axios.post('/sb/company1/sss',{'start':start,'end':end}).then(function(response){
                // console.log(response.data);
                //alert(response.data.total);
                self.total=response.data.total;
                self.tableData = response.data.pageData;
                // self.multipleSelection=response.data.data;
            })
        },
        methods:{
            //表格重新加载数据
            loadingData:function() {
                var _self = this;
                _self.loading = true;
                var self = this;
                var start =(this.currentPage-1)*this.pageSize;
                var end =this.pageSize;
                var searchForm={'start':start,'end':end,'uname':this.searchForm.uname};
                //   alert(JSON.stringify(searchForm));
                axios.post('/sb/company1/sss',searchForm).then(function(response){
                    // console.log(response.data);
                    // alert(222);
                    _self.total=response.data.total;
                    _self.tableData = response.data.pageData;
                    //_self.multipleSelection=response.data.data;
                })
                console.log(_self.currentPage);
                setTimeout(function(){
                    console.info("加载数据成功");
                    _self.loading = false;
                },300);
            },
            //表格编辑事件
            editClick:function(row) {
                this.goUrl="/sb/company1/GZBLYewu";
                this.editFormVisible = true;
                this.editForm = Object.assign({}, row);
            },
            //表格查询事件
            searchClick:function() {
                var self = this;
                self.loadingData();//重新加载数据
            },
            //分页大小修改事件
            pageSizeChange:function(val) {
                console.log('每页 ' + val +' 条');
                this.pageSize = val;
                var _self = this;
                _self.loadingData();//重新加载数据
            },
            //当前页修改事件
            currentPageChange:function(val) {
                this.currentPage = val;
                console.log('当前页: ' + val);
                var _self = this;
                _self.loadingData();//重新加载数据
            },
            //通过保存点击事件
            passSubmit:function(){
                var _self = this;
                _self.loading = true;
                var formData =this.editForm;
                //alert(formData);
                var goUrl=_self.goUrl;
                //alert("提交地址："+goUrl);
                //alert(JSON.stringify(formData));
                axios.post(goUrl,formData).then(function(response){
                    // console.log(response.data);
                    // alert(222);
                    // self.total=response.data.total;
                    if(response.data>0){
                        _self.editFormVisible = false;
                    }else{
                        _self.$message({
                            message:'操作失败',
                            type: 'error'
                        });
                    }
                    _self.loadingData();//重新加载数据
                })
                console.info(this.editForm);
            },
            //充值失焦事件
            blurSearchFor:function () {
                var _self = this;
                if (_self.editForm.gzje>=1000&&_self.editForm.gzje<=300000){
                    _self.editForm.uARemain=_self.editForm.gzje+_self.editForm.uARemain;
                }else{
                    _self.$message({
                        showClose: true,
                        message: '挂账金额必须大于1000小于200000',
                        type: 'warning'
                    });
                }
            },
            searchClick1:function () {
                var _self = this;
                _self.loadingData();//重新加载数据
            }
        }

    })
</script>

</body>
</html>