<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>基数调整</title>
    <!-- 引入样式 -->
    <script type="text/javascript" src="/sb/js/vue.js"></script>
    <script type="text/javascript" src="/sb/js/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/sb/css/elementui.css">
    <!-- 引入组件库 -->
    <script src="/sb/js/elementui.js"></script>
</head>
<body>
<div id="tableView">
    <!--列表顶部搜索和工具条-->
    <el-row>
        <el-form :inline="true" :model="searchForm" class="demo-form-inline">
            <!--vue双向显示所以会给表搜索表单中默认的空值-->
            <el-form-item label="单位名称">
                <el-input v-model="searchForm.uname" placeholder="单位名称"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" round :plain="true" icon="el-icon-search" @click="searchClick">查询</el-button>
            </el-form-item>
        </el-form>
    </el-row>
    <!--列表-->
    <el-row>
        <el-table :data="tableData" v-loading.body="loading" border @selection-change="selectionChange" style="width: 100%">
            <el-table-column prop="DWZH" label="单位账号" align="center" width="180"></el-table-column>
            <el-table-column prop="uname" label="单位名称" align="center" width="240"></el-table-column>
            <el-table-column prop="uDepositRatio" label="单位存缴比例" align="center" width="160"></el-table-column>
            <el-table-column prop="uPersonRatio" label="个人存缴比例" align="center" width="160"></el-table-column>
            <el-table-column prop="uDepositedPnum" label="单位存缴人数" align="center" width="160"></el-table-column>
            <el-table-column prop="uARemain" label="单位账户余额" align="center" width="160"></el-table-column>
            <el-table-column prop="uaOweMonery" label="应缴纳金额" align="center" width="160"></el-table-column>
            <el-table-column prop="uaState" label="单位账户状态" align="center" width="120"></el-table-column>
            <el-table-column prop="uaPayEndDate" label="单位缴至年月" align="center" width="160"></el-table-column>
            <el-table-column label="操作" width="150px" align="center">
                <template scope="scope">
                    <div style="text-align: center" >
                        <el-button type="success" :plain="true" icon="el-icon-check" round @click="editClick(scope.row)">基数调整</el-button>
                    </div>
                </template>
            </el-table-column>
        </el-table>
    </el-row>

    <!--列表底部工具条和分页符-->
    <el-row style="margin-top: 20px" type="flex" justify="end">
        <el-col :span="18" >
            <el-pagination style="float: right" @size-change="pageSizeChange" @current-change="currentPageChange" :current-page="currentPage"
                           :page-sizes="[10, 20, 30, 50]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
            </el-pagination>
        </el-col>
    </el-row>
    <!--点击基数调整按钮所弹出的页面-->
    <el-dialog title="基数调整" width="1200px" :visible.sync="editFormVisibleQ" :close-on-click-modal="false">
        <!--列表顶部搜索和工具条-->
        <el-row>
            <el-form :inline="true" :model="searchForm1" class="demo-form-inline">
                <!--vue双向显示所以会给表搜索表单中默认的空值-->
                <el-form-item label="员工姓名">
                    <el-input v-model="searchForm1.tb_pName" placeholder="员工姓名"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" round :plain="true" icon="el-icon-search" @click="searchClick1">查询</el-button>
                </el-form-item>
            </el-form>
        </el-row>
        <el-row>
            <el-table :data="tableDataRYZY" v-loading.body="loading" border @selection-change="selectionChange" style="width: 100%">
                <el-table-column prop="GRZH" label="个人账号" width="140"></el-table-column>
                <el-table-column prop="tb_pName" label="员工姓名" width="140"></el-table-column>
                <el-table-column prop="baseNummber" label="缴存基数" width="120"></el-table-column>
                <el-table-column prop="ubitNrop" label="单位存缴比例(%)" width="130"></el-table-column>
                <el-table-column prop="indiNrop" label="个人存缴比例(%)" width="130"></el-table-column>
                <el-table-column prop="unitMonPaysum" label="单位月缴存额" width="120"></el-table-column>
                <el-table-column prop="perMonPaysum" label="个人月缴存额" width="80"></el-table-column>
                <el-table-column label="操作" width="150px">
                    <template scope="scope">
                        <div style="text-align: center" >
                            <el-button type="success" :plain="true" icon="el-icon-check" round @click="editClick1(scope.row)">修改基数</el-button>
                        </div>
                    </template>
                </el-table-column>
            </el-table>
        </el-row>
        <div slot="footer" class="dialog-footer">
            <el-button :plain="true" @click.native="editFormVisibleQ = false">关闭</el-button>
        </div>
    </el-dialog>
    <!--弹出框基数调整按钮所弹出的页面-->
    <el-dialog title="修改基数" width="900px" :visible.sync="editFormVisibleQ1" :close-on-click-modal="false">
        <el-form :model="editForm" label-width="130px" :rules="editFormRules" ref="editForm">
            <el-container>
                <el-aside width="400px">
                    <el-form-item label="所属单位">
                        <el-input v-model="editForm.uname" :disabled="true" auto-complete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="个人账号">
                        <el-input v-model="editForm.GRZH" :disabled="true" auto-complete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="账户状态">
                        <el-input v-model="editForm.uaState" :disabled="true" auto-complete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="单位缴存比例">
                        <el-input v-model="editForm.ubitNrop" :disabled="true" auto-complete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="个人月缴存额">
                        <el-input v-model="editForm.perMonPaysum" :disabled="true" auto-complete="off"></el-input>
                    </el-form-item>
                </el-aside>
                <el-container>
                    <el-aside width="400px">
                        <el-form-item label="单位账号">
                            <el-input v-model="editForm.DWZH" :disabled="true" auto-complete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="员工姓名">
                            <el-input v-model="editForm.tb_pName" :disabled="true" auto-complete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="缴存基数">
                            <el-input v-model="editForm.baseNummber" :disabled="abc" @blur="blurSearchFor" auto-complete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="个人缴存比例">
                            <el-input v-model="editForm.indiNrop" :disabled="true" auto-complete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="单位月缴存额">
                            <el-input v-model="editForm.unitMonPaysum" :disabled="true" auto-complete="off"></el-input>
                        </el-form-item>
                    </el-aside>
                </el-container>
            </el-container>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="danger" round :plain="true"  @click.native="unlock">解除锁定</el-button>
            <el-button type="primary" round :plain="true" @click.native="pullupdate">保存调整</el-button>
            <el-button round :plain="true"  @click.native="pullupdate11">关闭</el-button>
        </div>
    </el-dialog>
</div>
<script>
    var tableView = new Vue({
        el: '#tableView',
        data: {
            abc:true,
            //列表数据
            tableData: [],
            tableDataRYZY:[],
            //显示加载中样式
            loading:false,
            //当前页
            currentPage:1,
            //分页大小
            pageSize:10,
            //总记录数
            total:800,
            //搜索表单
            searchForm: {
                uname: ''
            },
            searchForm1:{
                tb_pName: ''
            },
            editFormVisibleQ:false,
            editFormVisibleQ1:false,

            DWZH:'',
            uname:'',
            uaState:'',
            ubitNrop:'',
            perMonPaysum:'',

            GRZH:'',
            tb_pName:'',
            baseNummber:'',
            indiNrop:'',
            unitMonPaysum:'',

            editForm:{
                uname: '',
                GRZH: '',
                uaState: '',
                ubitNrop: '',
                perMonPaysum:'',

                DWZH:'',
                tb_pName: '',
                baseNummber: '',
                indiNrop: '',
                unitMonPaysum: '',
            }
        },
        created:function(){
            //在 then的内部不能使用Vue的实例化的this, 因为在内部 this 没有被绑定。
            var self = this;
            var start =(this.currentPage-1)*this.pageSize;
            var end =this.currentPage*this.pageSize;
            //第一进来后进入的发法
            axios.post('/sb/company/NumberAdjust',{'start':start,'end':end}).then(function(response){
                self.total=response.data.total;
                self.tableData = response.data.pageDate;
                //alert(JSON.stringify(response.data.pageDate))//查看后台返回的数据
                tableView.self.tableData;
            })
        },
        methods:{
            //表格重新加载数据
            loadingData:function() {
                var _self = this;
                _self.loading = true;
                var start =(this.currentPage-1)*this.pageSize;
                var end =this.currentPage*this.pageSize;
                var searchForm={'start':start,'end':end,'uname':_self.searchForm.uname};
                //   alert(JSON.stringify(searchForm));
                axios.post('/sb/company/NumberAdjust',searchForm).then(function(response){
                    _self.total=response.data.total;
                    _self.tableData = response.data.pageDate;
                })
                console.log(_self.currentPage);
                setTimeout(function(){
                    console.info("加载数据成功");
                    _self.loading = false;
                },300);
            },
            //分页大小修改事件
            pageSizeChange:function(val) {
                console.log('每页 ' + val +' 条');
                this.pageSize = val;
                var _self = this;
                _self.loadingData();//重新加载数据
            },
            //当前页修改事件
            currentPageChange:function(val) {
                this.currentPage = val;
                console.log('当前页: ' + val);
                var _self = this;
                _self.loadingData();//重新加载数据
            },
            //表格查询事件
            searchClick:function() {
                var self = this;
                self.loadingData();//重新加载数据
            },
            //基数调整按钮
            editClick:function (row) {
                var self = this;
                self.DWZH = row.DWZH;
                self.uname = row.uname;
                self.uaState = row.uaState;
                //alert(JSON.stringify(row.DWZH));
                self.editFormVisibleQ=true;
                axios.post('/sb/company/ChangeNumber',{DWZH:row.DWZH}).then(function(response){
                    //alert("基数调整按钮后台传来的值："+JSON.stringify(response.data[0]))
                    self.tableDataRYZY = response.data;
                })
            },
            //弹出页面查询按钮
            searchClick1:function () {
                var _self = this;
                var searchForm = {DWZH:_self.DWZH,'tb_pName':_self.searchForm1.tb_pName};
                //alert(JSON.stringify(searchForm));
                axios.post('/sb/company/ChangeNumber',searchForm).then(function(response){
                    //alert("基数调整按钮后台传来的值："+JSON.stringify(response.data[0]))
                    _self.tableDataRYZY = response.data;
                })
            },
            //弹出页面基数调整按钮 修改基数
            editClick1:function (row) {
                var _self = this;
                _self.editForm.GRZH = row.GRZH;
                _self.editForm.tb_pName  = row.tb_pName ;
                _self.editForm.perMonPaysum  = row.perMonPaysum ;
                _self.editForm.unitMonPaysum = row.unitMonPaysum;
                _self.editForm.ubitNrop  = row.ubitNrop ;
                _self.editForm.indiNrop = row.indiNrop;
                _self.editForm.baseNummber  = row.baseNummber ;
                _self.editForm.DWZH  = _self.DWZH ;
                _self.editForm.uname = _self.uname;
                _self.editForm.uaState  = _self.uaState ;
                _self.editFormVisibleQ=false;
                _self.editFormVisibleQ1=true;
            },
            //确定保存基数按钮
            pullupdate:function () {
                //alert(JSON.stringify(this.editForm));
                var _self=this;
                axios.post('/sb/company/updateMoney',_self.editForm).then(function(response){
                    _self.editFormVisibleQ1=false;
                    _self.loadingData();//重新加载数据
                    if (response.data==1){
                        _self.$message({
                            message: '修改成功',
                            type: 'success'
                        });
                    }
                })
            },
            //失焦按钮来赋值
            blurSearchFor:function () {
                this.editForm.perMonPaysum=this.editForm.baseNummber*this.editForm.indiNrop*0.01;
                this.editForm.unitMonPaysum=this.editForm.baseNummber*this.editForm.ubitNrop*0.01;
            },
            //解除锁定按钮
            unlock:function () {
                var _self=this;
                _self.abc=false;
            },
            pullupdate11:function () {
                var _self=this;
                _self.abc=true;
                _self.editFormVisibleQ1=false;
            }
        }
    })
</script>
</body>
</html>