<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>单位开户</title>
    <!-- 引入样式 -->
    <script type="text/javascript" src="/sb/js/vue.js"></script>
    <script type="text/javascript" src="/sb/js/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/sb/css/elementui.css">
    <!-- 引入组件库 -->
    <script src="/sb/js/elementui.js"></script>
</head>
<body>
<div id="app">
    <h2>{{ message }}</h2>
</div>
<div id="tableView">
    <el-form :model="editForm" status-icon label-width="140px" :rules="editFormRules" ref="editForm">
        <el-container>
            <el-aside width="400px">
                <el-form-item label="公司名称:" prop="uname" key="1">
                    <el-input v-model="editForm.uname" @blur="blurSearchFor1" style="width:220px;height:35px;" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="*公司地址:" prop="uAddress" key="3">
                    <el-input v-model="editForm.uAddress" style="width:220px;height:35px;" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="公司类型:" prop="GSLX" key="13">
                    <el-select v-model="editForm.GSLX" style="width:220px;height:35px;" auto-complete="off">
                        <el-option label="--请选择--" :disabled="true" value="0"></el-option>
                        <el-option label="国有企业" value = "国有企业"></el-option>
                        <el-option label="有限责任公司" value = "有限责任公司"></el-option>
                        <el-option label="股份有限责任公司" value = "股份有限责任公司"></el-option>
                        <el-option label="外资企业" value = "外资企业"></el-option>
                        <el-option label="中外合资企业" value = "中外合资企业"></el-option>
                        <el-option label="集体所有制企业" value = "集体所有制企业"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="所属行业:" prop="SSHY" key="14">
                    <el-select v-model="editForm.SSHY" style="width:220px;height:35px;" auto-complete="off">
                        <el-option label="--请选择--" :disabled="true" value="0"></el-option>
                        <el-option label="农、林、牧、渔业" value = "农、林、牧、渔业"></el-option>
                        <el-option label="制造业" value = "制造业"></el-option>
                        <el-option label="环境和公共设施管理业" value = "环境和公共设施管理业"></el-option>
                        <el-option label="交通运输、仓储业和邮政业" value = "交通运输、仓储业和邮政业"></el-option>
                        <el-option label="批发和零售业" value = "批发和零售业"></el-option>
                        <el-option label="房地产" value = "房地产"></el-option>
                        <el-option label="科技" value = "科技"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="*隶属关系:" prop="LSGX" key="15">
                    <el-select v-model="editForm.LSGX"  style="width:220px;height:35px;" auto-complete="off">
                        <el-option label="--请选择--" :disabled="true" value="0"></el-option>
                        <el-option label="中央"  value = "中央"></el-option>
                        <el-option label="省" value = "省"></el-option>
                        <el-option label="地区" value = "地区"></el-option>
                        <el-option label="县" value = "县"></el-option>
                        <el-option label="乡" value = "乡"></el-option>
                        <el-option label="街道" value = "街道"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="*经济类型:" prop="JJLX" key="16">
                    <el-select v-model="editForm.JJLX"  style="width:220px;height:35px;" auto-complete="off">
                        <el-option label="--请选择--" :disabled="true" value="0"></el-option>
                        <el-option label="国有经济" value = "国有经济"></el-option>
                        <el-option label="集体经济" value = "集体经济"></el-option>
                        <el-option label="私营经济" value = "私营经济"></el-option>
                        <el-option label="个体经济" value = "个体经济"></el-option>
                        <el-option label="联营经济" value = "联营经济"></el-option>
                        <el-option label="股份制" value = "股份制"></el-option>
                        <el-option label="外商投资" value = "外商投资"></el-option>
                        <el-option label="港澳台投资" value = "港澳台投资"></el-option>
                        <el-option label="其他经济" value = "其他经济" ></el-option>
                    </el-select>
                </el-form-item>
                <!--<el-form-item label="机构代码:" prop="uNetworkCode" key="12">-->
                    <!--<el-input v-model="editForm.uNetworkCode" @blur="blurSearchFor2" style="width:220px;height:35px;" auto-complete="off"></el-input>-->
                <!--</el-form-item>-->
                <el-form-item label="*催缴人:">
                    <el-input v-model="editForm.YWBLR" :disabled="true" style="width:220px;height:35px;" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="月发薪日:">
                    <el-input-number v-model="editForm.uPayDate" :min="1" :max="31" style="width:220px;height:35px;" auto-complete="off"></el-input-number>
                </el-form-item>
            </el-aside>



            <el-container>
                <el-aside width="400px">
                    <el-form-item label="*法人名字:" prop="uLegalPerson" key="4">
                        <el-input v-model="editForm.uLegalPerson"  style="width:220px;height:35px;" auto-complete="off"></el-input>
                    </el-form-item>
                    <!--<el-form-item label="*证件类型:" prop="ULegalType" key="17">-->
                        <!--<el-select v-model="editForm.ULegalType"  style="width:220px;height:35px;" auto-complete="off">-->
                            <!--<el-option label="&#45;&#45;请选择&#45;&#45;" :disabled="true" value="0"></el-option>-->
                            <!--<el-option label="身份证" value = "身份证"></el-option>-->
                            <!--<el-option label="户口本" value = "户口本"></el-option>-->
                        <!--</el-select>-->
                    <!--</el-form-item>-->
                    <el-form-item label="*证件类型:">
                        <el-input v-model="editForm.ULegalType" :disabled="true" style="width:220px;height:35px;" auto-complete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="证件号码:" prop="ULegalCard" key="8">
                        <el-input v-model="editForm.ULegalCard" style="width:220px;height:35px;" auto-complete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="经办人姓名:" prop="uOperator" key="6">
                        <el-input v-model="editForm.uOperator"  style="width:220px;height:35px;" auto-complete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="经办人电话:" prop="uOpIphone" key="7">
                        <el-input v-model="editForm.uOpIphone"  style="width:220px;height:20px;" auto-complete="off" ></el-input>
                    </el-form-item>
                    <!--<el-form-item label="*证件类型:" prop="JBRZJLX" key="18">-->
                        <!--<el-select v-model="editForm.JBRZJLX"  style="width:220px;height:35px;" auto-complete="off">-->
                            <!--<el-option label="&#45;&#45;请选择&#45;&#45;" :disabled="true" value="0"></el-option>-->
                            <!--<el-option label="身份证"  value = "身份证"></el-option>-->
                            <!--<el-option label="户口本" value = "户口本"></el-option>-->
                        <!--</el-select>-->
                    <!--</el-form-item>-->
                    <el-form-item label="*证件类型:">
                        <el-input v-model="editForm.JBRZJLX" :disabled="true" style="width:220px;height:35px;" auto-complete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="证件号码:" prop="JBRZJHM" key="5">
                        <el-input v-model="editForm.JBRZJHM" style="width:220px;height:35px;" auto-complete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="*公司成立日期:">
                        <el-date-picker type="date" placeholder="公司成立日期" value-format="yyyy-MM-dd" format="yyyy-MM-dd" v-model="editForm.UnitBeginDate" style="width:220px;height:35px;" auto-complete="off"></el-date-picker>
                    </el-form-item>
                </el-aside>




                <el-container>
                    <el-aside width="400px">
                        <el-form-item label="*开户银行名称:" prop="uaBankName" key="19">
                            <el-select v-model="editForm.uaBankName"  style="width:220px;height:35px;" auto-complete="off">
                                <el-option label="--请选择--" :disabled="true" value="0"></el-option>
                                <el-option label="中国银行" value="中国银行"></el-option>
                                <el-option label="中国工商银行" value="中国工商银行"></el-option>
                                <el-option label="中国建设银行" value="中国建设银行"></el-option>
                                <el-option label="中国农业银行" value="中国农业银行"></el-option>
                                <el-option label="中国邮政银行" value="中国邮政银行"></el-option>
                                <el-option label="中国交通银行" value="中国交通银行"></el-option>
                                <el-option label="中国人民银行" value="中国人民银行"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="开户银行账号:" prop="uaBankNumber" key="9">
                            <el-input v-model="editForm.uaBankNumber"  style="width:220px;height:35px;" auto-complete="off"></el-input>
                        </el-form-item>
                        <!--prop="uPersonRatio" key="11"-->
                        <!--<el-form-item label="个人缴存比例:">-->
                            <!--<el-input-number v-model="editForm.uPersonRatio" :min="5" :max="12" style="width:220px;height:35px;" auto-complete="off"></el-input-number>-->
                        <!--</el-form-item>-->
                        <el-form-item label="个人缴存比例:" prop="uPersonRatio" key="11">
                            <el-input v-model="editForm.uPersonRatio" style="width:220px;height:35px;" auto-complete="off"></el-input>
                        </el-form-item>
                        <!--prop="uDepositRatio" key="10"-->
                        <!--<el-form-item label="单位缴存比例:" >-->
                            <!--<el-input-number v-model="editForm.uDepositRatio" @blur="blurSearchFor4" :min="5" :max="12" style="width:220px;height:35px;" auto-complete="off"></el-input-number>-->
                        <!--</el-form-item>-->
                        <el-form-item label="单位缴存比例:" prop="uDepositRatio" key="10">
                            <el-input v-model="editForm.uDepositRatio" style="width:220px;height:35px;" auto-complete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="*受托银行名称:" prop="STYH" key="20">
                            <el-select v-model="editForm.STYH" style="width:220px;height:35px;" auto-complete="off">
                                <el-option label="--请选择--" :disabled="true" value="0"></el-option>
                                <el-option label="中国银行" value="中国银行"></el-option>
                                <el-option label="中国工商银行" value="中国工商银行"></el-option>
                                <el-option label="中国建设银行" value="中国建设银行"></el-option>
                                <el-option label="中国农业银行" value="中国农业银行"></el-option>
                                <el-option label="中国邮政银行" value="中国邮政银行"></el-option>
                                <el-option label="中国交通银行" value="中国交通银行"></el-option>
                                <el-option label="中国人民银行" value="中国人民银行"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="*账号开户状态:">
                            <el-input v-model="editForm.uaState" :disabled="true" style="width:220px;height:35px;" auto-complete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="*单位开户日期:">
                            <el-input v-model="editForm.KHRQ" :disabled="true" style="width:220px;height:35px;" auto-complete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="*业务操作人员:">
                            <el-input v-model="editForm.uCreater" :disabled="true" style="width:220px;height:35px;" auto-complete="off"></el-input>
                        </el-form-item>
                    </el-aside>



                    <el-container>
                        <el-aside width="400px">
                            <el-form-item label="*上传单位营业执照:">
                                <el-upload
                                        action="/sb/company/upLoadPic"
                                        list-type="picture-card"
                                        auto-upload="true"
                                        limit="1"
                                        multiple="false"
                                        :on-success="uploadSuc">
                                    <i class="el-icon-plus"></i>
                                </el-upload>
                                <el-input  v-model="editForm.YYZZ" type="hidden" style="width:220px;height:35px;" auto-complete="off">
                                    <template scope="scope">
                                        <div>
                                            <img slot="reference" :src="path+scope.this.YYZZ" height="100" min-width="70">
                                        </div>
                                    </template>
                                </el-input>
                            </el-form-item>
                        </el-aside>
                    </el-container>
                </el-container>
            </el-container>
        </el-container>
        <div style="text-align: center">
            <!--@click.native="editSubmit1"-->
            <el-button type="primary"  round :plain="true" @click.native="editSubmit('editForm')" :loading="editLoading">保存</el-button>
        </div>
    </el-form>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: '单位开户'
        }
    });
    var tableView = new Vue({
        el: '#tableView',
        data: {
            //path:'/sb/company/show?fileName=',
            //显示加载中样式
            loading:false,
//            fileList: [],
//            src:"",
            editForm:{
                uname:'',
                uAddress:'',
                GSLX:'',
                SSHY:'',
                LSGX:'',
                JJLX:'',
                //uNetworkCode:'',
                uPayDate:'',

                uLegalPerson:'',
                ULegalType:'身份证',
                ULegalCard:'',
                uOperator:'',
                uOpIphone:'',
                JBRZJLX:'身份证',
                JBRZJHM:'',
                UnitBeginDate:'',


                uaBankName:'',
                uaBankNumber:'',
                uDepositRatio:'',
                uPersonRatio:'',
                STYH:'',
                uaState:'正常',
                KHRQ:new Date().toLocaleString()+'',
                uCreater:'[[${session.account_name}]]',

                YYZZ:'',
                YWBLR:'[[${session.account_name}]]',
            },
            editFormRules:{
                uname:[
                    { required: true, message: '请输入公司名称', trigger: 'blur' },
                    {pattern:/^[\u4e00-\u9fa5]{0,}$/, trigger: 'blur', message: '你输入的公司名称格式不正确'}
                ],
                uAddress:[
                    { required: true, message: '请输入公司地址', trigger: 'blur' },
                    {pattern:/^.{3,20}$/, trigger: 'blur', message: '你输入的地址格式不正确'}
                ],
                uLegalPerson:[
                    { required: true, message: '请输入法人姓名', trigger: 'blur' },
                    {pattern:/^[\u4E00-\u9FA5A-Za-z0-9]+$/, trigger: 'blur', message: '你输入的法人姓名格式不正确'}
                ],
                JBRZJHM:[
                    {required: true,message: '请输入证件号码',trigger: 'blur'},
                    {pattern:/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/,trigger: 'blur', message: '你的证件号码格式不正确'}
                ],
                uOperator:[
                    { required: true, message: '请输入经办人姓名', trigger: 'blur' },
                    {pattern:/^[\u4E00-\u9FA5A-Za-z0-9]+$/, trigger: 'blur', message: '你输入的经办人姓名格式不正确'}
                ],
                uOpIphone:[
                    { required: true, message: '请输入经办人电话', trigger: 'blur' },
                    {pattern:/^(13[0-9]|14[5|7]|15[0|1|2|3|5|6|7|8|9]|18[0|1|2|3|5|6|7|8|9])\d{8}$/, trigger: 'blur', message: '你输入的经办人电话格式不正确'}
                ],
                ULegalCard:[
                    { required: true, message: '请输入证件号码', trigger: 'blur' },
                    {pattern:/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/, trigger: 'blur', message: '你输入的证件号码格式不正确'}
                ],
                uaBankNumber:[
                    { required: true, message: '请输入开户银行账号', trigger: 'blur' },
                    {pattern:/([\d]{4})([\d]{4})([\d]{4})([\d]{4})([\d]{0,})?/, trigger: 'blur', message: '你输入的开户银行账号格式不正确'}
                ],
                GSLX:[
                    { required: true, message: '请选择公司类型', trigger: 'change' }
                ],
                SSHY:[
                    { required: true, message: '请选择所属行业', trigger: 'change' }
                ],
                LSGX:[
                    { required: true, message: '请选择公司隶属关系', trigger: 'change' }
                ],
                JJLX:[
                    { required: true, message: '请选择经济类型', trigger: 'change' }
                ],
                uaBankName:[
                    { required: true, message: '请选择开户银行名称', trigger: 'change' }
                ],
                STYH:[
                    { required: true, message: '请选择受托银行名称', trigger: 'change' }
                ],
                uPersonRatio:[
                    { required: true, message: '个人缴存比例不能为空'},
                    { pattern:/(^(?:1[0-2]|[1-9])$)/, message: '个人缴存比例必须为数字值'}
                ],
                uDepositRatio:[
                    { required: true, message: '单位缴存比例不能为空'},
                    { pattern:/(^(?:1[0-2]|[1-9])$)/, message: '单位缴存比例必须为数字值'}
                ],
//                UnitBeginDate:[
//                    { required: true, message: '请选择公司成立日期', trigger: 'change' }
//                ]
//                uNetworkCode:[
//                    { required: true, message: '请输入机构代码', trigger: 'blur' },
//                    {pattern:/(^\d{8,}$)/,trigger: 'blur',  message: '你输入的机构代码格式不正确'}
//                ]
            }
        },
        created:function(){

        },
        methods:{
            //表格重新加载数据
            loadingData:function() {

            },
            //公司名称失焦
            blurSearchFor1:function () {
                //alert("公司名称失焦按钮");
                var _self=this;
                if (_self.editForm.uname!=''&&_self.editForm.uname!=null){
                    axios.post('/sb/company/unitCheckName',{uName:_self.editForm.uname}).then(function (response) {
                        //alert(JSON.stringify(response.data));
                        if (response.data==1){
                            _self.editForm.uname='';
                            _self.$message({
                                message: '该公司已注册',
                                type: 'warning'
                            });
                        }
                    })
                }
            },
            //机构代码唯一验证
            blurSearchFor2:function () {
                var _self=this;
                //alert("机构代码："+_self.editForm.uNetworkCode);
                if (_self.editForm.uNetworkCode!=''&&_self.editForm.uNetworkCode!=null){
                    axios.post('/sb/company/unitCheckName',{uNetworkCode:_self.editForm.uNetworkCode}).then(function (response) {
                        //alert(JSON.stringify(response.data));
                        if (response.data==1){
                            _self.editForm.uNetworkCode='';
                            _self.$message({
                                message: '该机构代码已被使用',
                                type: 'warning'
                            });
                        }
                    })
                }
            },
            //单位缴存比例
            blurSearchFor4:function () {
                var _self=this;
                if (_self.editForm.uDepositRatio<_self.editForm.uPersonRatio){
                    _self.$message({
                        message: '请输入合法的缴存比例',
                        type: 'warning'
                    });
                    _self.editForm.uDepositRatio='';
                }
            },
            blurSearchFor5:function () {
                var _self=this;
                _self.src=_self.editForm.YYZZ;
            },
            //点击保存按钮
            editSubmit(formName){
                var _self = this;
                _self.$refs[formName].validate((valid) => {
                    if (valid) {
                        axios.post('/sb/company/registerInfo', _self.editForm).then(function (response) {
                            if (response.data==1){
                                _self.editForm = Object.assign({}, '');
                                _self.$message({
                                    message: '恭喜你！开户成功。',
                                    type: 'success'
                                });
                                location.href="/sb/Page/UnitInfo1"
                            }else{
                                _self.$message({
                                    message: '开户失败！！！',
                                    type: 'warning'
                                });
                            }
                        })
                    } else {
                        _self.$message({
                            message: '请填写完整信息！！！',
                            type: 'warning'
                        });
                        return false;
                    }
                })
            },
//            editSubmit1:function () {
//                var _self=this;
//                //alert("12112")
//                axios.post('/sb/company/registerInfo', _self.editForm).then(function (response) {
//                    //alert("12112")
//                    if (response.data==1){
//                        _self.editForm = Object.assign({}, '');
//                        _self.$message({
//                            message: '恭喜你！开户成功。',
//                            type: 'success'
//                        });
//                        location.href="/sb/Page/UnitInfo1"
//                    }else{
//                        _self.$message({
//                            message: '开户失败！！！',
//                            type: 'warning'
//                        });
//                    }
//                })
//            },
            //上传成功后的方法
            uploadSuc:function(response, file, fileList){
                // alert(response);
                this.editForm.YYZZ=response;
            },
        }
    })
</script>
</body>
</html>