<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <!-- 引入样式 -->
    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript" src="../js/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/sb/css/elementui.css">

    <!-- 引入组件库 -->
    <script src="/sb/js/elementui.js"></script>

</head>
<style>
    .el-header, .el-footer {
        background-color: #B3C0D1;
        color: #333;
        text-align: center;
        line-height: 60px;
    }

    .el-aside {
        background-color: #B3C0D1;
        color: #333;
        text-align: center;
        line-height: 100px;
    }

    .el-main {
        background-color: #B3C0D1;
        color: #333;
        text-align: center;
        line-height: 100px;
    }

    body > .el-container {
        margin-bottom: 40px;
    }

    .el-container:nth-child(5) .el-aside,
    .el-container:nth-child(6) .el-aside {
        line-height: 100px;
    }

    .el-container:nth-child(7) .el-aside {
        line-height: 100px;
    }
</style>
<body>
<div id="app">
    <h2>{{ message }}</h2>
</div>

<div id="tableView">
    <el-container>
        <el-header  height="400px">
            <div id="app1" style="text-align: center">
                <h2>{{ message }}</h2>
            </div>
            <el-row>
                <el-form :inline="true" :model="searchForm" class="demo-form-inline">
                    <el-form-item >
                        <el-input v-model="searchForm.GRZH" placeholder="个人账号"></el-input>
                    </el-form-item>
                    </el-form-item>
                    <el-form-item>
                    <el-button type="primary" icon="search" @click.native="searchClick">查询</el-button>
                </el-form-item>
                </el-form>
            </el-row>
            <el-row>
                <el-table :data="tableData" v-loading.body="loading" border  >
                    <el-table-column prop="pName" label="姓名" width="70"></el-table-column>
                    <el-table-column prop="GRZH" label="贷款账户" width="150"></el-table-column>
                    <el-table-column prop="loan_money" label="贷款金额" width="110"></el-table-column>
                    <el-table-column prop="loan_periods" label="贷款期限" width="110"></el-table-column>
                    <el-table-column prop="ctime" label="发贷日期" width="110"></el-table-column>
                    <el-table-column prop="repayed_date" label="到期日期" width="110"></el-table-column>
                    <el-table-column prop="loan_repay" label="还款方式" width="110"></el-table-column>
                    <el-table-column prop="loan_rate" label="合同利率" width="110">
                        <template scope="scope">
                            {{ scope.row.loan_rate+"%" }}
                        </template>
                    </el-table-column>
                    <el-table-column prop="residue_money" label="贷款余额" width="110"></el-table-column>
                    <el-table-column prop="repayed_date" label="应还年月" width="110"></el-table-column>
                    <el-table-column prop="repay_bank" label="发贷银行" width="110"></el-table-column>
                    <!--<el-table-column prop="peraccState" label="逾期利率" width="110"></el-table-column>-->
                </el-table>
            </el-row>
            <el-row>
                <el-table :data="tableDataA" v-loading.body="loading" border>
                    <el-table-column prop="repayType" label="还款类型" width="300">
                        <template scope="scope">
                            <el-select v-model="scope.row.repayType"   placeholder="请选择" >
                                <el-option label="一次结清所以贷款" value="1" ></el-option>
                                <el-option label="部分还贷" value="2"></el-option>
                            </el-select>
                        </template>
                    </el-table-column>
                    <el-table-column prop="repayMoney" label="还款金额" width="150">
                        <template scope="scope">
                            <div v-show="scope.row.repayType==1">
                                {{ scope.row.residue_money+scope.row.residue_interests}}
                            </div>
                            <div v-show="scope.row.repayType==2">
                                <div v-show="scope.row.residue_money<=scope.row.repay_month_money">
                                    {{ scope.row.residue_money+scope.row.residue_interests}}
                                </div>
                                <div v-show="scope.row.residue_money>scope.row.repay_month_money">
                                    {{ scope.row.repay_month_money+scope.row.repay_month_interest}}
                                </div>
                            </div>
                        </template>
                    </el-table-column>
                    <el-table-column prop="corpus" label="其中本金" width="150">
                        <template scope="scope">
                            <div v-show="scope.row.repayType==1">
                                {{ scope.row.residue_money}}
                            </div>
                            <div v-show="scope.row.repayType==2">
                                <div v-show="scope.row.residue_money<=scope.row.repay_month_money">
                                    {{ scope.row.residue_money}}
                                </div>
                                <div v-show="scope.row.residue_money>scope.row.repay_month_money">
                                    {{ scope.row.repay_month_money}}
                                </div>
                            </div>
                        </template>
                    </el-table-column>
                    <el-table-column prop="interest" label="其中利息" width="110">
                        <template scope="scope">
                            <div v-show="scope.row.repayType==1">
                                {{ scope.row.residue_interests}}
                            </div>
                            <div v-show="scope.row.repayType==2">
                                <div v-show="scope.row.residue_money<=scope.row.repay_month_money">
                                    {{ scope.row.residue_interests}}
                                </div>
                                <div v-show="scope.row.residue_money>scope.row.repay_month_money">
                                    {{ scope.row.repay_month_interest}}
                                </div>

                            </div>
                        </template>
                    </el-table-column>
                    <!--<el-table-column prop="ctime" label="发贷日期" width="110"></el-table-column>-->
                </el-table>
            </el-row>
        </el-header>
        <el-main >
            <div id="app2" style="margin-top:50px;margin-bottom: 0px">
                <h2>{{ message }}</h2>
            </div>
            <div >
                <el-button type="primary" icon="search" @click="addPerson">增加还贷人员</el-button>
            </div>
            <el-row>
                <el-table :data="tableDataD" v-loading.body="loading"  border @selection-change="selectionChange" >
                    <el-table-column type="selection" width="55"></el-table-column>
                    <el-table-column prop="GRZH" label="个人账号" width="150"></el-table-column>
                    <el-table-column prop="tb_pName" label="姓名" width="110"></el-table-column>
                    <el-table-column prop="unit_Id" label="单位账号" width="110"></el-table-column>
                    <el-table-column prop="uname" label="单位名称" width="110"></el-table-column>
                    <el-table-column prop="tb_idNUmber" label="证件号码" width="110"></el-table-column>
                    <el-table-column prop="lastNaydate" label="缴至年月" width="110"></el-table-column>
                    <el-table-column prop="peraccState" label="个人账户状态" width="110">
                        <template scope="scope">
                            {{ scope.row.peraccState === 1 ?  '正常': '' }}
                        </template>
                    </el-table-column>
                    <el-table-column prop="dalance" label="个人账户余额" width="110"></el-table-column>
                    <el-table-column prop="kyye" label="可用余额" width="110">
                        <template scope="scope">
                            {{ scope.row.dalance-10}}
                        </template>
                    </el-table-column>
                    <el-table-column prop="tqhkje" label="还款金额" width="110">
                        <template scope="scope">
                            <div v-show="scope.row.repayType==1">
                                {{ scope.row.residue_money+scope.row.residue_interests}}
                            </div>
                            <div v-show="scope.row.repayType==2">
                                <div v-show="scope.row.residue_money<=scope.row.repay_month_money">
                                    {{ scope.row.residue_money+scope.row.residue_interests}}
                                </div>
                                <div v-show="scope.row.residue_money>scope.row.repay_month_money">
                                    {{ scope.row.repay_month_money+scope.row.repay_month_interest}}
                                </div>
                            </div>
                        </template>
                    </el-table-column>
                </el-table>
                <el-row style="margin-top: 0px" >
                    <el-col :span="9" style="text-align: left;color:#333">
                        <el-button :plain="true" type="danger" size="small" icon="delete" @click="removeSelection">删除所选</el-button>
                        <el-button :plain="true" type="primary" size="small"  @click="total">合计</el-button>
                        <div style="float:right;"  >
                            <el-input size="small"  v-model="languageCode" placeholder="￥"></el-input>
                        </div>
                    </el-col>
                    <el-col :span="20"  type="flex" justify="end">
                        <el-button type="primary" @click.native="Submit(row)">提交</el-button>
                    </el-col>
                </el-row>
            </el-row>
        </el-main>
    </el-container>
    <el-dialog title="约定提取审核" :visible.sync="editFormVisible" width="1000px" :close-on-click-modal="false" >
       <a  style="color: #009933;font-size: 20px;"> 确定要提交吗？</a>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click.native="editSubmit(row)"  >确定</el-button>
            <el-button @click.native="editFormVisible = false" >关闭</el-button>
        </div>
    </el-dialog>
    <el-dialog title="添加人员" :visible.sync="editFormVisibleA" width="1400px" :close-on-click-modal="false" >
        <el-row>
            <el-table :data="tableDataRYZY" v-loading.body="loading" border @selection-change="selectionChange"  style="width: 100%">
                <el-table-column prop="GRZH" label="个人账号" width="150"></el-table-column>
                <el-table-column prop="tb_pName" label="个人姓名" width="150"></el-table-column>
                <el-table-column prop="ubitNrop" label="单位缴存比例" width="150"></el-table-column>
                <el-table-column prop="indiNrop" label="个人缴存比例" width="150"></el-table-column>
                <el-table-column prop="baseNummber" label="缴存基数" width="150"></el-table-column>
                <el-table-column prop="dalance" label="个人公积金余额" width="150"></el-table-column>
                <el-table-column prop="peraccState" label="个人账户状态" width="150">
                    <template scope="scope">
                        {{ scope.row.peraccState === 1 ?  '正常': '' }}
                    </template>
                </el-table-column>
                <el-table-column prop="lastNaydate" label="最会汇缴月" width="150"></el-table-column>
                <el-table-column type="selection" width="55" label="操作"></el-table-column>
            </el-table>
            <el-col :span="9" >
                <el-pagination style="float: left" @size-change="pageSizeChange" @current-change="currentPageChange" :current-page="currentPage"
                               :page-sizes="[5, 10, 15, 20]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
                </el-pagination>
            </el-col>
        </el-row>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click.native="addSubmit()"  >添加</el-button>
            <el-button type="danger" @click.native="editFormVisibleA = false">关闭</el-button>
        </div>
    </el-dialog>

</div>

<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            message: '提取还贷'
        }
    });
    var app1 = new Vue({
        el: '#app1',
        data: {
            message: '贷款信息'
        }
    });
    var app2 = new Vue({
        el: '#app2',
        data: {
            message: '还贷人员列表'
        }
    });
    var tableView = new Vue({
        el: '#tableView',
        data: {
            //列表数据

            tableData: [],
            tableDataD: [],
            tableDataA:[],
            tableDataRYZY:[],
            //显示加载中样式
            loading:false,
            //当前页
            currentPage:1,
            //分页大小
            pageSize:5,
            //总记录数
            total:800,
            repayType:'',
            //搜索表单
            searchForm: {
                GRZH: ''
            },
            //多选值
            multipleSelection: [],
            editLoading: false,
            editFormVisible: false,
            editFormVisibleA: false,
            rules2: {
            },
        },
        methods:{
            searchClick:function () {
                var _self = this;
                _self.editLoading=true;
                axios.post('/sb/extract/repayLoan',{'GRZH':_self.searchForm.GRZH}).then(function(response){
                    if(response.data.pageData[0].repayed_period<=12||response.data.pageData==""){
                        _self.$message({
                            showClose: true,
                            message: '账户输入错误或该账户未还满十二期！',
                            type: 'warning'
                        });
                    }else {
                    _self.tableData =  response.data.pageData;
                    _self.tableDataD = response.data.pageData;
                    _self.tableDataA = response.data.pageData;
                    alert(JSON.stringify(_self.tableDataA));
                    }
                })
                axios.post('/sb/extract/getPerson',{'toGRZH':_self.searchForm.GRZH}).then(function(response){
                        alert("*******"+JSON.stringify(_self.tableDataD));
                        _self.tableDataD = (response.data.pageData);
                        alert(JSON.stringify(_self.tableDataD));
                })
            },

            //表格重新加载数据
            /*loadingData:function() {
                var _self = this;
                _self.editLoading=true;
                axios.post('/sb/extract/repayLoan',{'GRZH':_self.searchForm.GRZH}).then(function(response){
                    if(response.data.pageData[0].repayed_period<=12||response.data.pageData==""){
                        _self.$message({
                            showClose: true,
                            message: '账户输入错误或该账户未还满十二期！',
                            type: 'warning'
                        });
                    }else {
                        _self.tableData =  response.data.pageData;
                        _self.tableDataD = response.data.pageData;
                        _self.tableDataA = response.data.pageData;
                        alert(JSON.stringify(_self.tableDataA));
                    }
                })
                axios.post('/sb/extract/getPerson',{'toGRZH':_self.searchForm.GRZH}).then(function(response){
                    _self.tableDataD = response.data.pageData;
                    alert(JSON.stringify(_self.tableDataD));
                })
            },*/
            addPerson:function () {
                var _self = this;
                var start =(this.currentPage-1)*this.pageSize;
                var end =this.pageSize;
                //_self.editLoading=true;
                _self.editFormVisibleA=true,
                    axios.post('/sb/extract/addPerson',{'start':start,'end':end}).then(function(response){
                        //alert("6666"+JSON.stringify(response.data.pageDate));//查看后台返回的数据
                        //alert("7777"+JSON.stringify(response.data.total));
                        _self.total=response.data.total;
                        _self.tableDataRYZY = response.data.pageData;
                    });
            },

            //表格勾选事件
            selectionChange:function(val) {
                for(var i=0;i<val.length;i++) {
                    var row = val[i];
                }
                this.multipleSelection = val;
                console.info(val);
            },
            Submit:function () {
                var _self = this;
                _self.editFormVisible=true;
            },
            //分页大小修改事件
            pageSizeChange:function(val) {
                console.log('每页 ' + val +' 条');
                this.pageSize = val;
                var _self = this;
                _self.loadingData();//重新加载数据
            },
            //当前页修改事件
            currentPageChange:function(val) {
                this.currentPage = val;
                console.log('当前页: ' + val);
                var _self = this;
                _self.loadingData();//重新加载数据
            },

            //保存点击事件
           editSubmit:function(){
                                 var _self = this;
                                _self.loading = true;
                                //alert(formData);
                                var goUrl='/sb/extract/tqhdEdit';
                                alert(JSON.stringify(_self.tableDataA));
                              var corpus=0;
                              var interest=0;
                              var repayMoney=0;
                                if(_self.tableDataA[0].repayType==1){
                                    repayMoney = _self.tableDataA[0].residue_money+_self.tableDataA[0].residue_interests;
                                }else{
                                    if(_self.tableDataA[0].residue_money<=_self.tableDataA[0].repay_month_money){
                                        repayMoney = _self.tableDataA[0].residue_money+_self.tableDataA[0].residue_interests;
                                    }else {
                                        repayMoney = _self.tableDataA[0].repay_month_money+_self.tableDataA[0].repay_month_interest;
                                    }
                                }
                                   if(_self.tableDataA[0].repayType==1){
                                       corpus = _self.tableDataA[0].residue_money;
                                   }else{
                                       if(_self.tableDataA[0].residue_money<=_self.tableDataA[0].repay_month_money){
                                           corpus = _self.tableDataA[0].residue_money;
                                       }else {
                                           corpus = _self.tableDataA[0].repay_month_money;
                                       }
                                   }
                                       if(_self.tableDataA[0].repayType==1){
                                           interest = _self.tableDataA[0].residue_interests;
                                       }else{
                                           if(_self.tableDataA[0].residue_money<=_self.tableDataA[0].repay_month_money){
                                               interest = _self.tableDataA[0].residue_interests;
                                           }else {
                                               interest = _self.tableDataA[0].repay_month_interest;
                                           }
                                       }
                                var formData={'corpus':corpus,'interest':interest,'repayMoney':repayMoney,'GRZH':_self.tableData[0].GRZH,'repayType':_self.tableDataA[0].repayType,'repay_id':_self.tableData[0].repay_id,'pName':_self.tableData[0].pName};
                                alert(formData);
                                alert(JSON.stringify(formData));
                              axios.post(goUrl,formData).then(function(response){
                                    // console.log(response.data);
                                    // alert(222);
                                    // self.total=response.data.total;
                                    if(response.data>0){
                                        _self.loadingData();//重新加载数据
                                        _self.rest()
                                    }else{
                                        _self.$message({
                                            message: '操作失败',
                                            type: 'error'
                                        });
                                    }
                                    _self.loadingData();//重新加载数据
                                })
            },
          /*  addSubmit:function() {
                var _self = this;
                var multipleSelection = this.multipleSelection;
                if (multipleSelection.length < 1) {
                    _self.$message({
                        message: '请至少选中一条记录',
                        type: 'error'
                    });
                    return;
                }
                var ids = "";
                for (var i = 0; i < multipleSelection.length; i++) {
                    var row = multipleSelection[i];
                    ids += row.GRZH + ","
                    _self.tableDataD.push(row);
                }
                _self.editFormVisibleA=false;
                _self.multipleSelection=[];
            },*/

            //添加所选，批量添加
            addSubmit:function() {
                var _self = this;
                var multipleSelection = this.multipleSelection;
                if(multipleSelection.length < 1) {
                    _self.$message({
                        message: '请至少选中一条记录',
                        type: 'error'
                    });
                    return;
                }
                var toGRZH = _self.tableData[0].GRZH;
                var ids = "";
                for(var i=0;i<multipleSelection.length;i++) {
                    var row = multipleSelection[i];
                    ids += row.GRZH + ","
                }
                this.$confirm('确认添加' + ids.substring(0,ids.lastIndexOf(",")) +'吗?', '提示', {
                    type: 'warning'
                }).then(function(){
                    var  url="/sb/extract/batchAdd";
                    axios.post(url,{'_s':ids.substring(0,ids.lastIndexOf(",")),'toGRZH':toGRZH}).then(function (response) {
                        alert(JSON.stringify(response.data));
                        var temp="";
                        if(response.data>0){
                            temp="添加成功";
                            _self.editFormVisibleA=false;
                        }else {
                            temp="添加失败";
                        }
                        _self.$message({
                            message: ids + temp,
                            type: 'success'
                        });
                    //    _self.loadingData();//重新加载数据
                    //    location.href=  location.href;
                    });

                }).catch(function(e){
                    if(e != "cancel")
                        console.log("出现错误：" + e);
                });
            },

            //删除所选，批量删除
            removeSelection:function() {
                    var _self = this;
                    var multipleSelection = this.multipleSelection;
                    if(multipleSelection.length < 1) {
                        _self.$message({
                            message: '请至少选中一条记录',
                            type: 'error'
                        });
                        return;
                    }
                var toGRZH = _self.tableData[0].GRZH;
                    var ids = "";
                    for(var i=0;i<multipleSelection.length;i++) {
                        var row = multipleSelection[i];
                        ids += row.GRZH + ","
                    }
                    this.$confirm('确认移除' + ids.substring(0,ids.lastIndexOf(",")) +'吗?', '提示', {
                        type: 'warning'
                    }).then(function(){
                        var  url="/sb/extract/batchDel";
                        axios.post(url,{'_parameter':ids.substring(0,ids.lastIndexOf(",")),'toGRZH':toGRZH}).then(function (response) {
                            //alert(response.data);
                            var temp="";
                            if(response.data>0){
                                temp="删除成功";
                            }else {
                                temp="删除失败";
                            }
                            _self.$message({
                                message: ids + temp,
                                type: 'success'
                            });
                       //     _self.loadingData();//重新加载数据
                          //  location.href=  location.href;
                        });

                    }).catch(function(e){
                        if(e != "cancel")
                            console.log("出现错误：" + e);
                    });
            },
        }
    })

</script>

</body>
</html>