<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看审批</title>
    <!-- 引入样式 -->
    <script type="text/javascript" src="/sb/js/vue.js"></script>
    <script type="text/javascript" src="/sb/js/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/sb/css/elementui.css">
    <!-- 引入组件库 -->
    <script src="/sb/js/elementui.js"></script>
</head>
<body>
<div id="app">
    <h2>{{ message }}</h2>
</div>
<div id="tableView">
    <!--列表-->
    <el-row>
        <el-table :data="tableData" v-loading.body="loading" border @selection-change="selectionChange" style="width: 100%">
            <el-table-column prop="Accraditation_name" align="center"  label="工作流程名称" type="center" width="500"></el-table-column>
            <el-table-column prop="Accraditation_describe" align="center"  label="工作流程描述" width="500"></el-table-column>
            <el-table-column prop="Accraditation_flux" align="center"  label="工作流量" width="500"></el-table-column>
            <el-table-column prop="Accraditation_id" align="center"  label="操作" width="159">
                <template scope="scope">
                    <div><el-button type="primary" round :plain="true" icon="el-icon-document" @click="editClick(scope.row)">查看</el-button></div>
                </template>
            </el-table-column>
        </el-table>
    </el-row>
    <!--点击查看人员转移审批所弹出的页面-->
    <el-dialog title="人员转移" width="1200px" :visible.sync="editFormVisibleQ" :close-on-click-modal="false">
        <el-row>
            <el-table :data="tableDataRYZY" v-loading.body="loading" border @selection-change="selectionChange" style="width: 100%">
                <el-table-column prop="transfer_id" label="编号" width="150"></el-table-column>
                <el-table-column prop="transfer_out_unit" label="转出单位" width="200"></el-table-column>
                <el-table-column prop="transfer_into_unit" label="转入单位" width="120"></el-table-column>
                <el-table-column prop="auditor" label="转移申请人" width="120"></el-table-column>
                <el-table-column prop="person_account" label="个人账户" width="120"></el-table-column>
                <el-table-column prop="transfer_reason" label="转移原因" width="120"></el-table-column>
                <el-table-column prop="operator" label="操作人" width="80"></el-table-column>
                <el-table-column prop="submit_time" label="转移提交时间" width="120"></el-table-column>
                <el-table-column prop="audit_state" label="转移审核状态" width="120">
                    <template scope="scope">
                        <div v-if="scope.row.audit_state=='通过'">
                            <span style="color:green;">通过</span>
                        </div>
                        <div v-if="scope.row.audit_state=='驳回'">
                            <span style="color:red;">驳回</span>
                        </div>
                    </template>
                </el-table-column>
            </el-table>
        </el-row>
        <!--列表底部工具条和分页符-->
        <el-row style="margin-top: 20px" type="flex" justify="end">
            <el-col :span="18" >
                <el-pagination style="float: right" @size-change="pageSizeChange" @current-change="currentPageChange" :current-page="currentPage"
                               :page-sizes="[5, 10, 15, 20]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total2">
                </el-pagination>
            </el-col>
        </el-row>
        <div slot="footer" class="dialog-footer">
            <el-button @click.native="editFormVisibleQ = false">关闭</el-button>
        </div>
    </el-dialog>
    <!--点击查看封存、启封、销户审批所弹出的页面-->
    <el-dialog title="封存、启封、销户审批" width="1300px" :visible.sync="editFormVisibleFQX" :close-on-click-modal="false">
        <el-row>
            <el-table :data="tableDataFQX" v-loading.body="loading" border @selection-change="selectionChange" style="width: 100%">
                <el-table-column prop="unseal_id" label="编号" width="50"></el-table-column>
                <el-table-column prop="unseal_name" label="封启人姓名" width="70"></el-table-column>
                <el-table-column prop="unseal_unit" label="所在单位" width="140"></el-table-column>
                <el-table-column prop="unseal_sex" label="性别" width="50"></el-table-column>
                <el-table-column prop="unit_post" label="工作职位" width="60"></el-table-column>
                <el-table-column prop="unseal_number" label="身份证号" width="170"></el-table-column>
                <el-table-column prop="unseal_account" label="个人封启账户" width="150"></el-table-column>
                <el-table-column prop="reason" label="封启原因" width="80"></el-table-column>
                <el-table-column prop="operator" label="创建人" width="60"></el-table-column>
                <el-table-column prop="create_time" label="创建日期" width="150"></el-table-column>
                <el-table-column prop="audit_state" label="业务类型" width="80">
                    <template scope="scope">
                        <div v-if="scope.row.audit_state=='销户'">
                            <span style="color:red;">销户</span>
                        </div>
                        <div v-if="scope.row.audit_state=='启封'">
                            <span style="color:green;">启封</span>
                        </div>
                        <div v-if="scope.row.audit_state=='封存'">
                            <span style="color:blue;">封存</span>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column prop="audit_name" label="审核状态" width="80">
                    <template scope="scope">
                        <div v-if="scope.row.audit_name=='通过'">
                            <span style="color:green;">通过</span>
                        </div>
                        <div v-if="scope.row.audit_name=='驳回'">
                            <span style="color:red;">驳回</span>
                        </div>
                        <div v-if="scope.row.audit_name=='0'">
                            <span style="color:blue;">待审核</span>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column prop="bohui" label="驳回理由" width="120">
                    <template scope="scope">
                        <div v-if="scope.row.bohui=='0'">
                            <span style="color:blue;">暂无</span>
                        </div>
                        <div v-if="scope.row.bohui!='0'">
                            <span style="color:red;">
                                <div>{{scope.row.bohui}}</div>
                            </span>
                        </div>
                    </template>
                </el-table-column>
            </el-table>
        </el-row>
        <!--列表底部工具条和分页符-->
        <el-row style="margin-top: 20px" type="flex" justify="end">
            <el-col :span="18" >
                <el-pagination style="float: right" @size-change="pageSizeChange" @current-change="currentPageChange" :current-page="currentPage"
                               :page-sizes="[5, 10, 15, 20]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total3">
                </el-pagination>
            </el-col>
        </el-row>
        <div slot="footer" class="dialog-footer">
            <el-button @click.native="editFormVisibleFQX = false">关闭</el-button>
        </div>
    </el-dialog>
    <!--点击查看个人贷款审批所弹出的页面-->
    <el-dialog title="个人贷款" width="1300px" :visible.sync="editFormVisibleGRDK" :close-on-click-modal="false">
        <el-row>
            <el-table :data="tableDataGRDK" v-loading.body="loading" border @selection-change="selectionChange" style="width: 100%">
                <el-table-column prop="GRZH" label="个人账号" width="120"></el-table-column>
                <el-table-column prop="pName" label="姓名" width="80"></el-table-column>
                <el-table-column prop="tb_idNUmber" label="证件号码" width="140"></el-table-column>
                <el-table-column prop="daikan" label="业务类型" width="50"></el-table-column>
                <el-table-column prop="ctime" label="申请时间" width="60"></el-table-column>
                <el-table-column prop="loan_money" label="贷款金额" width="170"></el-table-column>
                <el-table-column prop="loan_periods" label="贷款期数" width="150"></el-table-column>
                <el-table-column prop="loan_rate" label="贷款利率" width="80"></el-table-column>
                <el-table-column prop="loan_bank" label="贷款银行" width="60"></el-table-column>
                <el-table-column prop="status" label="贷款状态" width="150">
                    <template scope="scope">
                        <div v-if="scope.row.status=='1'">
                            <span style="color:red;">待审核</span>
                        </div>
                        <div v-if="scope.row.status=='2'">
                            <span style="color:green;">初审通过</span>
                        </div>
                        <div v-if="scope.row.status=='3'">
                            <span style="color:grey;">初审驳回</span>
                        </div>
                        <div v-if="scope.row.status=='4'">
                            <span style="color:green;">终审通过</span>
                        </div>
                        <div v-if="scope.row.status=='5'">
                            <span style="color:grey;">终审驳回</span>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column prop="rejectreason" label="驳回原因" width="80">
                    <template scope="scope">
                        <div v-if="scope.row.rejectreason==null">
                            <span style="color:red;">暂无</span>
                        </div>
                        <div v-if="scope.row.rejectreason!=null">
                            <span style="color:red;">
                                <div>{{scope.row.rejectreason}}</div>
                            </span>
                        </div>
                    </template>
                </el-table-column>
            </el-table>
        </el-row>
        <!--列表底部工具条和分页符-->
        <el-row style="margin-top: 20px" type="flex" justify="end">
            <el-col :span="18" >
                <el-pagination style="float: right" @size-change="pageSizeChange" @current-change="currentPageChange" :current-page="currentPage"
                               :page-sizes="[5, 10, 15, 20]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total4">
                </el-pagination>
            </el-col>
        </el-row>
        <div slot="footer" class="dialog-footer">
            <el-button @click.native="editFormVisibleGRDK = false">关闭</el-button>
        </div>
    </el-dialog>
    <!--点击查看公积金提取审批所弹出的页面-->
    <el-dialog title="公积金提取" width="1300px" :visible.sync="editFormVisibleGJJTQ" :close-on-click-modal="false">
        <el-row>
            <el-table :data="tableDataGJJTQ" v-loading.body="loading" border @selection-change="selectionChange" style="width: 100%">
                <el-table-column prop="pre_account" label="提取人账号" width="120"></el-table-column>
                <el-table-column prop="appl_name" label="提取人姓名" width="80"></el-table-column>
                <el-table-column prop="comp_name" label="提取人单位" width="140"></el-table-column>
                <el-table-column prop="application_type" label="提取类型" width="150">
                    <template scope="scope">
                        <div v-if="scope.row.application_type==1">
                            <span style="color:blue;">销户提取</span>
                        </div>
                        <div v-if="scope.row.application_type==2">
                            <span style="color:green;">部分提取</span>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column prop="application_way" label="提取方式" width="60">
                    <template scope="scope">
                        <div v-if="scope.row.application_way==1">
                            <span style="color:blue;">现金</span>
                        </div>
                        <div v-if="scope.row.application_way==2">
                            <span style="color:green;">银行</span>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column prop="extract_reason" label="提取原因" width="200">
                    <template scope="scope">
                        <div v-if="scope.row.extract_reason==1">
                            <span style="color:blue;">房屋超出家庭工资收入规定比例</span>
                        </div>
                        <div v-if="scope.row.extract_reason==2">
                            <span style="color:green;">建造、翻修、大修、住房</span>
                        </div>
                        <div v-if="scope.row.extract_reason==3">
                            <span style="color:purple;">偿还购房贷款本息</span>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column prop="extract_money" label="提取金额" width="150"></el-table-column>
                <el-table-column prop="appl_time" label="申请时间" width="150"></el-table-column>
                <el-table-column prop="appl_state" label="审核状态" width="120">
                    <template scope="scope">
                        <div v-if="scope.row.appl_state==1">
                            <span style="color:blue;">待审核</span>
                        </div>
                        <div v-if="scope.row.appl_state==2">
                            <span style="color:green;">通过</span>
                        </div>
                        <div v-if="scope.row.appl_state==3">
                            <span style="color:red;">驳回</span>
                        </div>
                    </template>
                </el-table-column>
            </el-table>
        </el-row>
        <!--列表底部工具条和分页符-->
        <el-row style="margin-top: 20px" type="flex" justify="end">
            <el-col :span="18" >
                <el-pagination style="float: right" @size-change="pageSizeChange" @current-change="currentPageChange" :current-page="currentPage"
                               :page-sizes="[5, 10, 15, 20]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total5">
                </el-pagination>
            </el-col>
        </el-row>
        <div slot="footer" class="dialog-footer">
            <el-button @click.native="editFormVisibleGJJTQ = false">关闭</el-button>
        </div>
    </el-dialog>
</div>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            message: '查看审批'
        }
    });
    var tableView = new Vue({
        el: '#tableView',
        data: {
            //列表数据
            tableData: [],
            tableDataRYZY: [],
            tableDataFQX: [],
            tableDataGRDK: [],
            tableDataGJJTQ: [],
            //显示加载中样式
            loading:false,
            //当前页
            currentPage:1,
            //分页大小
            pageSize:5,
            //总记录数
            total:800,
            //总记录数
            //total2:800,
            //弹出框是否显示
            editFormVisibleQ: false,
            editFormVisibleFQX: false,
            editFormVisibleGRDK: false,
            editFormVisibleGJJTQ: false,
        },
        created:function(){
            //在 then的内部不能使用Vue的实例化的this, 因为在内部 this 没有被绑定。
            var self = this;
            //第一进来后进入的发法
            axios.post('/sb/AccountMerge/accraditation1').then(function(response){
                alert("后台传来的数据"+JSON.stringify(response.data));
                self.tableData = response.data;
                tableView.self.tableData;
            });
        },
        methods:{
            //表格重新加载数据
            loadingData:function() {
                var _self = this;
                _self.loading = true;
                var self = this;
                var start =(this.currentPage-1)*this.pageSize;
                var end =this.pageSize;
                var searchForm={'start':start,'end':end};
                //   alert(JSON.stringify(searchForm));

                axios.post('/sb/AccountMerge/transfer1',searchForm).then(function(response){
                    //alert("2222");
                        self.total2=response.data.total;
                        self.tableDataRYZY = response.data.pageDate;
                });
                axios.post('/sb/AccountMerge/breaka1',searchForm).then(function(response) {
                        self.total3 = response.data.total;
                        self.tableDataFQX = response.data.pageDate;
                });
                axios.post('/sb/AccountMerge/loans1',{'start':start,'end':end}).then(function(response) {
                        self.total4 = response.data.total;
                        self.tableDataGRDK = response.data.pageDate;
                });
                axios.post('/sb/AccountMerge/extract1',{'start':start,'end':end}).then(function(response) {
                        self.total5 = response.data.total;
                        self.tableDataGJJTQ = response.data.pageDate;
                })
                console.log(_self.currentPage);
                setTimeout(function(){
                    console.info("加载数据成功");
                    _self.loading = false;
                },300);
            },
            //分页大小修改事件
            pageSizeChange:function(val) {
                console.log('每页 ' + val +' 条');
                this.pageSize = val;
                var _self = this;
                _self.loadingData();//重新加载数据
            },
            //当前页修改事件
            currentPageChange:function(val) {
                this.currentPage = val;
                console.log('当前页: ' + val);
                var _self = this;
                _self.loadingData();//重新加载数据
            },
            //点击查看按钮
            editClick:function(row) {
                //alert(JSON.stringify(row.Accraditation_name));
                if (row.Accraditation_name=='人员转移审批'){
                    var self = this;
                    var start =(self.currentPage-1)*self.pageSize;
                    var end =self.pageSize;
                    axios.post('/sb/AccountMerge/transfer1',{'start':start,'end':end}).then(function(response){
                        self.total2=response.data.total;
                        self.tableDataRYZY = response.data.pageDate;
                        self.editFormVisibleQ = true;
                        tableView.self.tableDataRYZY;
                    })
                }
                if (row.Accraditation_name=='封存、启封、销户审批'){
                    var self = this;
                    var start =(self.currentPage-1)*self.pageSize;
                    var end =self.pageSize;
                    axios.post('/sb/AccountMerge/breaka1',{'start':start,'end':end}).then(function(response) {
                        self.total3 = response.data.total;
                        self.tableDataFQX = response.data.pageDate;
                        //alert(self.total);
                        //alert("后台返回的值2" + JSON.stringify(response.data));
                        //alert("后台返回的值222"+JSON.stringify(response.data.pageDate))//查看后台返回的数据
                        self.editFormVisibleFQX = true;
                        tableView.self.tableDataFQX;
                    });
                }
                if (row.Accraditation_name=='个人贷款'){
                    var self = this;
                    var start =(self.currentPage-1)*self.pageSize;
                    var end =self.pageSize;
                    axios.post('/sb/AccountMerge/loans1',{'start':start,'end':end}).then(function(response) {
                        self.total4 = response.data.total;
                        self.tableDataGRDK = response.data.pageDate;
                        //alert(self.total);
                        //alert("后台返回的值2" + JSON.stringify(response.data));
                        //alert("后台返回的值222"+JSON.stringify(response.data.pageDate))//查看后台返回的数据
                        self.editFormVisibleGRDK = true;
                        tableView.self.tableDataGRDK;
                    });
                }
                if (row.Accraditation_name=='公积金提取'){
                    var self = this;
                    var start =(self.currentPage-1)*self.pageSize;
                    var end =self.pageSize;
                    axios.post('/sb/AccountMerge/extract1',{'start':start,'end':end}).then(function(response) {
                        self.total5 = response.data.total;
                        self.tableDataGJJTQ = response.data.pageDate;
                        //alert(self.total);
                        //alert("后台返回的值2" + JSON.stringify(response.data));
                        //alert("后台返回的值222"+JSON.stringify(response.data.pageDate))//查看后台返回的数据
                        self.editFormVisibleGJJTQ = true;
                        tableView.self.tableDataGJJTQ;
                    });
                }
            },
            //一串数字转时间格式
            createTime:function (v){
                //alert("222");
                var date = new Date(v);
                var y = date.getFullYear();
                var m = date.getMonth()+1;
                m = m<10?'0'+m:m;
                var d = date.getDate();
                d = d<10?("0"+d):d;
                var h = date.getHours();
                h = h<10?("0"+h):h;
                var M = date.getMinutes();
                M = M<10?("0"+M):M;
                var str = y+"-"+m+"-"+d+" "+h+":"+M;
                return str;
            }
        }
    })
</script>
</body>
</html>
