<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>封存、启封、销户</title>
    <!-- 引入样式 -->
    <script type="text/javascript" src="/sb/js/vue.js"></script>
    <script type="text/javascript" src="/sb/js/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/sb/css/elementui.css">
    <!-- 引入组件库 -->
    <script src="/sb/js/elementui.js"></script>
</head>
<body>
<div id="app">
    <h2>{{ message }}</h2>
</div>

<div id="tableView">
    <!--列表顶部搜索和工具条-->
    <el-row>
        <el-form :inline="true" :model="searchForm" class="demo-form-inline">
            <!--vue双向显示所以会给表搜索表单中默认的空值-->
            <el-form-item label="用户名">
                <el-input v-model="searchForm.tb_pName" placeholder="用户名"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" round :plain="true" icon="el-icon-search" @click="searchClick">查询</el-button>
            </el-form-item>
        </el-form>
    </el-row>
    <!--列表-->
    <el-row>
        <el-table :data="tableData" v-loading.body="loading" border @selection-change="selectionChange" style="width: 100%">
            <el-table-column prop="grzh" align="center" label="个人账号" width="180"></el-table-column>
            <el-table-column prop="tb_pName" align="center" label="个人姓名" width="180"></el-table-column>
            <el-table-column prop="ubitNrop" align="center" label="单位缴存比例" width="180"></el-table-column>
            <el-table-column prop="indiNrop" align="center" label="个人缴存比例" width="180"></el-table-column>
            <el-table-column prop="baseNummber" align="center" label="缴存基数" width="180"></el-table-column>
            <el-table-column prop="dalance" align="center" label="个人公积金余额" width="180"></el-table-column>
            <el-table-column prop="peraccState" align="center" label="个人账户状态" width="180">
                <template scope="scope">
                    <div v-if="scope.row.peraccState=='正常'">
                        <span style="color:green;">正常</span>
                    </div>
                    <div v-if="scope.row.peraccState=='封存'">
                        <span style="color:red;">封存</span>
                    </div>
                    <div v-if="scope.row.peraccState=='销户'">
                        <span style="color:red;">销户</span>
                    </div>
                </template>
            </el-table-column>
            <el-table-column prop="lastNaydate" align="center" label="最后汇缴月" width="180"></el-table-column>
            <el-table-column prop="peraccState" align="center" label="操作" width="200">
                <template scope="scope">
                    <div v-if="scope.row.peraccState=='正常'">
                        <el-button type="primary" round :plain="true" @click="editClick(scope.row)">封存</el-button>
                        <el-button type="danger" round :plain="true" @click="editClickP(scope.row)">销户</el-button>
                    </div>
                    <div style="text-align:center" v-if="scope.row.peraccState=='封存'">
                        <el-button type="warning" round :plain="true" @click="editClickQ(scope.row)">启封</el-button></div>
                    <div style="text-align:center" v-if="scope.row.peraccState=='销户'"><el-button type="info" round :plain="true" >暂无</el-button></div>
                </template>
            </el-table-column>
        </el-table>
    </el-row>

    <!--列表底部工具条和分页符-->
    <el-row style="margin-top: 20px" type="flex" justify="end">
        <el-col :span="18" >
            <el-pagination style="float: right" @size-change="pageSizeChange" @current-change="currentPageChange" :current-page="currentPage"
                           :page-sizes="[10, 20, 30, 50]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
            </el-pagination>
        </el-col>
    </el-row>
    <!--点击封存按钮所弹出的页面-->
    <el-dialog title="用户封存" :visible.sync="editFormVisible" :close-on-click-modal="false">
        <el-form :model="editForm" label-width="120px" :rules="editFormRules" ref="editForm">
            <el-container>
                <el-aside width="400px">
                    <el-form-item label="单位名称">
                        <el-input v-model="editForm.uname" :disabled="true" auto-complete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="单位账号">
                        <el-input v-model="editForm.DWZH" :disabled="true" auto-complete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="人员名称">
                        <el-input v-model="editForm.tb_pName" :disabled="true" auto-complete="off"></el-input>
                    </el-form-item>
                </el-aside>
                <el-container>
                    <el-aside width="400px">
                        <el-form-item label="人员个人账号">
                            <el-input v-model="editForm.GRZH" :disabled="true" auto-complete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="人员账户状态">
                            <el-input v-model="editForm.peraccState" :disabled="true" auto-complete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="请填写原因">
                            <el-input type="textarea" v-model="editForm.resson"></el-input>
                        </el-form-item>
                    </el-aside>
                </el-container>
            </el-container>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button round @click.native="editFormVisible = false">取消</el-button>
            <el-button type="primary" round :plain="true" icon="el-icon-circle-check-outline" @click.native="editSubmit" :loading="editLoading">提交</el-button>
        </div>
    </el-dialog>
    <!--点击销户所弹出的页面-->
    <el-dialog title="用户销户" :visible.sync="editFormVisibleP" :close-on-click-modal="false">
        <el-form :model="editForm" label-width="120px" :rules="editFormRules" ref="editForm">
            <el-container>
                <el-aside width="400px">
                    <el-form-item label="单位名称">
                        <el-input v-model="editForm.uname" :disabled="true" auto-complete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="单位账号">
                        <el-input v-model="editForm.DWZH" :disabled="true" auto-complete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="人员名称">
                        <el-input v-model="editForm.tb_pName" :disabled="true" auto-complete="off"></el-input>
                    </el-form-item>
                </el-aside>
                <el-container>
                    <el-aside width="400px">
                        <el-form-item label="人员个人账号">
                            <el-input v-model="editForm.GRZH" :disabled="true" auto-complete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="人员账户状态">
                            <el-input v-model="editForm.peraccState" :disabled="true" auto-complete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="请填写原因">
                            <el-input type="textarea" v-model="editForm.resson"></el-input>
                        </el-form-item>
                    </el-aside>
                </el-container>
            </el-container>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button round @click.native="editFormVisibleP = false">取消</el-button>
            <el-button type="primary" round :plain="true" icon="el-icon-circle-check-outline" @click.native="editSubmitP" :loading="editLoading">提交</el-button>
        </div>
    </el-dialog>
    <!--点击启封所弹出的页面-->
    <el-dialog title="用户启封" :visible.sync="editFormVisibleQ" :close-on-click-modal="false">
        <el-form :model="editForm" label-width="120px" :rules="editFormRules" ref="editForm">
            <el-container>
                <el-aside width="400px">
                    <el-form-item label="单位名称">
                        <el-input v-model="editForm.uname" :disabled="true" auto-complete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="单位账号">
                        <el-input v-model="editForm.DWZH" :disabled="true" auto-complete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="人员名称">
                        <el-input v-model="editForm.tb_pName" :disabled="true" auto-complete="off"></el-input>
                    </el-form-item>
                </el-aside>
                <el-container>
                    <el-aside width="400px">
                        <el-form-item label="人员个人账号">
                            <el-input v-model="editForm.GRZH" :disabled="true" auto-complete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="人员账户状态">
                            <el-input v-model="editForm.peraccState" :disabled="true" auto-complete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="请填写原因">
                            <el-input type="textarea" v-model="editForm.resson"></el-input>
                        </el-form-item>
                    </el-aside>
                </el-container>
            </el-container>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button round @click.native="editFormVisibleQ = false">取消</el-button>
            <el-button type="primary" round :plain="true" icon="el-icon-circle-check-outline" @click.native="editSubmitQ" :loading="editLoading">提交</el-button>
        </div>
    </el-dialog>
</div>


<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            message: '封存、启封、销户'
        }
    });

    var tableView = new Vue({
        el: '#tableView',
        data: {
            //部门select
            options:[],
            //列表数据
            tableData: [],
            //搜索表单
            searchForm: {
                tb_pName: ''
            },
            //显示加载中样式
            loading:false,
            //当前页
            currentPage:1,
            //分页大小
            pageSize:10,
            //总记录数
            total:800,
            goUrl:'',
            //按钮弹出框是否显示
            editFormVisible: false,
            editFormVisibleP: false,
            editFormVisibleQ: false,
            //弹出框里面的数据
            editForm: {
                uname: '',
                DWZH: '',
                tb_pName: '',
                GRZH: '',
                peraccState:'',
                resson: ''
            },
        },
        created:function(){
            //在 then的内部不能使用Vue的实例化的this, 因为在内部 this 没有被绑定。
            var self = this;
            var start =(self.currentPage-1)*self.pageSize;
            var end =self.currentPage*self.pageSize;
            //第一进来后进入的发法
            axios.post('/sb/AccountMerge/SealedPage1',{'start':start,'end':end}).then(function(response){
                self.total=response.data.total;
                self.tableData = response.data.pageDate;
                //alert(self.total);
                //alert(JSON.stringify(response.data.pageDate))//查看后台返回的数据
                tableView.self.tableData;
            })
        },
        methods:{
            //表格重新加载数据
            loadingData:function() {
                var _self = this;
                _self.loading = true;
                var start =(_self.currentPage-1)*_self.pageSize;
                var end =_self.pageSize;
                var searchForm={'start':start,'end':end,'tb_pName':_self.searchForm.tb_pName};
                //   alert(JSON.stringify(searchForm));
                axios.post('/sb/AccountMerge/SealedPage1',searchForm).then(function(response){
                    _self.total=response.data.total;
                    _self.tableData = response.data.pageDate;
                })
                console.log(_self.currentPage);
                setTimeout(function(){
                    console.info("加载数据成功");
                    _self.loading = false;
                },300);
            },
            //分页大小修改事件
            pageSizeChange:function(val) {
                console.log('每页 ' + val +' 条');
                this.pageSize = val;
                var _self = this;
                _self.loadingData();//重新加载数据
            },
            //当前页修改事件
            currentPageChange:function(val) {
                this.currentPage = val;
                console.log('当前页: ' + val);
                var _self = this;
                _self.loadingData();//重新加载数据
            },
            //点击封存按钮
            editClick:function(row) {
                var _self = this;
                var url = "/sb/AccountMerge/operationQuery1";
                axios.post(url,{grzh:row.grzh}).then(function (response) {
                    if (response.data.daikan == '0'){
                        //alert("此人有带贷款信息,不能进行操作!");
                        _self.$message({
                            message: '此人有带贷款信息,不能进行操作!',
                            center: true
                        });
                    }else{
                        if(response.data.grzh=='0'){
                            //alert("请勿重复操作!");
                            _self.$message({
                                message: '请勿重复操作!',
                                center: true
                            });
                        }else{
                            //点击编辑按钮
                            _self.editFormVisible = true;
                            //alert(JSON.stringify(response.data))//查看后台返回的数据
                            _self.editForm = Object.assign({}, response.data);
                            _self.loadingData();
                        }
                    }
                });
            },
            //封存按钮保存点击事件
            editSubmit:function(){
                var _self = this;
                _self.loading = true;
                //var formData =this.editForm;
                var formData = {grzh:this.editForm.GRZH,pdstype:'封存',resson:this.editForm.resson};
                var goUrl="/sb/AccountMerge/Archive1";
                //alert(JSON.stringify(formData));
                if (this.editForm.resson!=""&&this.editForm.resson!=null){
                    axios.post(goUrl,formData).then(function(response){
                        if(response.data>0){
                            //关闭编辑弹出框
                            _self.editFormVisible = false;
                            _self.$message({
                                message: '封存成功，请等待审核',
                                center: true
                            });
                        }else{
                            _self.$message({
                                message: '操作失败',
                                type: 'error'
                            });
                            //_self.editFormVisible = false;
                        }
                        _self.loadingData();//重新加载数据
                    })
                    console.info(this.editForm);
                }else{
                    //alert("信息不完善");
                    _self.editFormVisible = false;
                    _self.$message({
                        message: '信息不完善',
                        center: true
                    });
                    _self.editFormVisible = false;
                    _self.loadingData();//重新加载数据
                }
            },
            //点击销户按钮
            editClickP:function(row) {
                //alert("账户还有剩余金额,确定销户吗？可到公积金提取进行销户提取。");
                var _self = this;
                _self.$confirm('账户还有剩余金额,确定销户吗？可到公积金提取进行销户提取。', '提示', {
                    type: 'warning'
                }).then(function(){
                    var url = "/sb/AccountMerge/operationQuery1";
                    axios.post(url,{grzh:row.grzh}).then(function (response) {
                        if (response.data.daikan == '0'){
                            //alert("此人有带贷款信息,不能进行操作!");
                            _self.$message({
                                message: '此人有带贷款信息,不能进行操作!',
                                center: true
                            });
                        }else{
                            if(response.data.grzh=='0'){
                                //alert("请勿重复操作!");
                                _self.$message({
                                    message: '请勿重复操作!',
                                    center: true
                                });
                            }else{
                                //点击编辑按钮
                                _self.editFormVisibleP = true;
                                _self.editForm = Object.assign({}, response.data);
                                _self.loadingData();
                            }
                        }
                    });
                })
            },
            //销户按钮保存点击事件
            editSubmitP:function(){
                var _self = this;
                _self.loading = true;
                //var formData =this.editForm;
                var formData = {grzh:this.editForm.GRZH,pdstype:'销户',resson:this.editForm.resson};
                var goUrl="/sb/AccountMerge/Archive1";
                //alert(JSON.stringify(formData));
                if (this.editForm.resson!=""&&this.editForm.resson!=null){
                    axios.post(goUrl,formData).then(function(response){
                        if(response.data>0){
                            //关闭编辑弹出框
                            _self.editFormVisibleP = false;
                        }else{
                            _self.$message({
                                message: '操作失败',
                                type: 'error'
                            });
                            //_self.editFormVisible = false;
                        }
                        _self.loadingData();//重新加载数据
                    })
                    console.info(this.editForm);
                }else{
                    //alert("信息不完善");
                    _self.$message({
                        message: '信息不完善',
                        center: true
                    });
                    _self.editFormVisibleP = false;
                    _self.loadingData();//重新加载数据
                }
            },
            //点击启封按钮
            editClickQ:function(row) {
                var _self = this;
                var url = "/sb/AccountMerge/operationQuery1";
                axios.post(url,{grzh:row.grzh}).then(function (response) {
                    if(response.data.grzh=='0'){
                        //alert("请勿重复操作!");
                        _self.$message({
                            message: '请勿重复操作!',
                            center: true
                        });
                    }else{
                        //点击编辑按钮
                        _self.editFormVisibleQ = true;
                        _self.editForm = Object.assign({}, response.data);
                        _self.loadingData();
                    }
                });
            },
            //启封按钮保存点击事件
            editSubmitQ:function(){
                var _self = this;
                _self.loading = true;
                //var formData =this.editForm;
                var formData = {grzh:this.editForm.GRZH,pdstype:'启封',resson:this.editForm.resson};
                var goUrl="/sb/AccountMerge/Archive1";
                //alert(JSON.stringify(formData));
                if (this.editForm.resson!=""&&this.editForm.resson!=null){
                    axios.post(goUrl,formData).then(function(response){
                        if(response.data>0){
                            //关闭编辑弹出框
                            _self.editFormVisibleQ = false;
                        }else{
                            _self.$message({
                                message: '操作失败',
                                type: 'error'
                            });
                            //_self.editFormVisible = false;
                        }
                        _self.loadingData();//重新加载数据
                    })
                    console.info(this.editForm);
                }else{
                    //alert("信息不完善");
                    _self.$message({
                        message: '信息不完善',
                        center: true
                    });
                    _self.editFormVisibleQ = false;
                    _self.loadingData();//重新加载数据
                }
            },
            //表格查询事件
            searchClick:function() {
                var self = this;
                self.loadingData();//重新加载数据
            }
        }
    })
</script>
</body>
</html>