<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人详细信息</title>
    <link rel="stylesheet" type="text/css" href="/sb/css/PersonalDetails.css">
    <script type="text/javascript" src="/sb/js/jquery-3.3.1.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/sb/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="/sb/new-easyui/icon.css" type="text/css"></link>
    <link rel="stylesheet" type="text/css" href="/sb/easyui/themes/icon.css">
    <!--<link rel="stylesheet" type="text/css" href="/sb/easyui/demo.css">-->
    <link rel="stylesheet" href="/sb/new-easyui/insdep.easyui.min.css" type="text/css"></link>
    <link rel="stylesheet" href="/sb/new-easyui/insdep.theme_default.css" type="text/css"></link>
    <script type="text/javascript" src="/sb/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/sb/easyui/jquery.easyui.min.js"></script>
</head>
<body>
<div id="all">
    <div id="all_a">
        <div id="top">
            <span class="span">个人信息</span> <span style="color:#c0c0c0">&nbsp;资料信息务必填写正确</span>
        </div>

        <div id="top_t">
            <div class="img1">
                <img src="/sb/images/60551.png" ;  style="width:20px;height20px;" />
            </div>
            <!--  图片  -->
            <span class="sp"><a >首页</a> </span>
            <div class="img">
                <img src="/sb/images/02.png" style="width:20px;height20px; " />
            </div>
            <!--  图片  -->
            <span class="sp"><a >账户信息</a> </span>
            <div class="img">
                <img src="/sb/images/02.png" style="width:20px;height20px; " />
            </div>
            <!--  图片  -->
            <span class="sp"><a >个人信息</a> </span>
        </div>

        <div id="p_left">
            <table id="dg" class="easyui-datagrid" title="个人账户信息表"
                   style="width:1610px;min-height:600px" pagination="true"
                   sortable="true" toolbar="#bbb"
                   data-options="singleSelect:true,collapsible:true,url:'/sb/AccountInformation',method:'post'">

                <div id="bbb" style="text-align: center;">
                    <span>用户名:</span> <input id="userN"
                                             style="line-height:26px;border:1px solid #ccc"> <a
                        class="easyui-linkbutton" plain="true" onclick="doSearch()">查询</a>
                </div>
                <thead>
                <tr>
                    <!-- pagination="true" 添加分页     sortable="true" 添加片排序 -->
                    <th data-options="field:'GRZH',width:150,align: 'center'">公积金账号</th>
                    <th data-options="field:'tb_pName',width:115,align: 'center'">人员姓名</th>
                    <th data-options="field:'tb_pSex',width:80,align: 'center'">人员性别</th>
                    <th data-options="field:'tb_pIphone',width:195,align: 'center'">手机号</th>
                    <th data-options="field:'uname',width:220,align: 'center'">所在公司</th>
                    <th data-options="field:'ubitNrop',width:120,align: 'center'"formatter="ubitNrop">单位缴存比例</th>
                    <th data-options="field:'indiNrop',width:120,align: 'center'"formatter="indiNrop">个人缴存比例</th>
                    <th data-options="field:'dalance',width:120,align: 'center'">个人账号余额</th>
                    <th data-options="field:'peraccState',width:120,align: 'center'"formatter="state">账户状态</th>
                    <th data-options="field:'a',width:130,align: 'center',formatter:formatOper">操作</th>
                </tr>
                </thead>

            </table>
        </div>


        <!--修改按钮 弹出层  -->
        <div id="dlg" class="easyui-dialog" style="width:650px;min-height:500px;"
             closed="true" buttons="#dlg-buttons">
            <form action="/sb/modification" id="fm" method="post">
                <table id="table1">
                    <tr>
                        <td>
                            <p>积金账户:</p></td>
                        <td><input type="text" name="GRZH" class="inputc"
                                   style="cursor:not-allowed" readOnly></td>
                        <td>
                            <p>单位比例:</p></td>
                        <td><input name="ubitNrop" type="text" class="inputc"
                                   style="cursor:not-allowed" readOnly></td>
                    </tr>

                    <tr>
                        <td>
                            <p>公司名称:</p></td>
                        <td><input name="uname" type="text" class="inputc"
                                   style="cursor:not-allowed" readOnly></td>
                        <td>
                            <p>个人比例:</p></td>
                        <td><input name="indiNrop" type="text" class="inputc"
                                   style="cursor:not-allowed" readOnly></td>
                    </tr>

                    <tr>
                        <td>
                            <p>职工姓名:</p></td>
                        <td><input name="tb_pName" type="text" class="inputa"
                                   style="cursor:not-allowed" readOnly></td>
                        <td>
                            <p>电子信箱:</p></td>
                        <td><input name="tb_pEmail" type="text" class="inputa"
                                   style="cursor:not-allowed" readOnly></td>
                    </tr>

                    <tr>
                        <td>
                            <p>职工电话:</p></td>
                        <td><input name="tb_pIphone" type="text" class="inputa"
                                   style="cursor:not-allowed" readOnly></td>
                        <td>
                            <p>家庭住址:</p></td>
                        <td><input name="tb_pAddress" type="text" class="inputa"
                                   style="cursor:not-allowed" readOnly></td>
                    </tr>

                    <tr>
                        <td>
                            <p>职工性别:</p></td>
                        <td><select name="tb_pSex" class="inputa"
                                    style="cursor:not-allowed" readOnly>
                            <option value="0">--请选择--</option>
                            <option value="男">男</option>
                            <option value="女">女</option>
                        </select>
                        </td>
                        <td>
                            <p>出生年月:</p></td>
                        <td><input name="tb_pDate" type="text" class="inputa"
                                   style="cursor:not-allowed" readOnly></td>
                    </tr>

                    <tr>
                        <td>
                            <p>证件类型:</p></td>
                        <td>
                            <select name="tb_idcard" class="inputa"
                                    style="cursor:not-allowed" readOnly>
                                <option value="0">--请选择--</option>
                                <option value="身份证">身份证</option>
                                <option value="户口本">户口本</option>
                            </select>
                        </td>
                        <td>
                            <p>婚姻状态:</p></td>
                        <td><select name="tb_pMarriage" class="inputa"
                                    style="cursor:not-allowed" readOnly>
                            <option value="0">--请选择--</option>
                            <option value="未婚">未婚</option>
                            <option value="已婚">已婚</option>
                            <option value="离异">离异</option>
                        </select></td>
                    </tr>

                    <tr>
                        <td>
                            <p>证件号码:</p></td>
                        <td><input name="tb_idNUmber" type="text" class="inputa"
                                   style="cursor:not-allowed" readOnly></td>
                        <td>
                            <p>缴存基数:</p></td>
                        <td><input name="baseNummber" type="text" class="inputc"
                                   style="cursor:not-allowed" readOnly></td>
                    </tr>

                    <tr>
                        <td>
                            <p>职工学历:</p></td>
                        <td><select name="tb_pEducation" class="inputa"
                                    style="cursor:not-allowed" readOnly>
                            <option value="0">--请选择--</option>
                            <option value="小学">小学</option>
                            <option value="初中">初中</option>
                            <option value="高中">高中</option>
                            <option value="大专">大专</option>
                            <option value="本科">本科</option>
                            <option value="研究生">研究生</option>
                            <option value="硕士">硕士</option>
                            <option value="博士">博士</option>
                            <option value="博士后">博士后</option>
                        </select></td>
                        <td>
                            <p>开户银行:</p></td>
                        <td><select name="KHYH" style="cursor:not-allowed"
                                    class="inputa">
                            <option value="0">--请选择--</option>
                            <option value="中国银行">中国银行</option>
                            <option value="中国工商银行">中国工商银行</option>
                            <option value="中国建设银行">中国建设银行</option>
                            <option value="中国农业银行">中国农业银行</option>
                            <option value="中国邮政银行">中国邮政银行</option>
                            <option value="中国交通银行">中国交通银行</option>
                            <option value="中国人民银行">中国人民银行</option>

                        </select></td>
                    </tr>

                    <tr>
                        <td>
                            <p>职工职位:</p></td>
                        <td><input name="tb_Profession" type="text" class="inputa"
                                   style="cursor:not-allowed" readOnly></td>
                        <td>
                            <p>银行账号:</p></td>
                        <td><input name="YHZH" type="text" class="inputa"
                                   style="cursor:not-allowed" readOnly>
                            <input name="tb_pid" type="hidden" class="inputa"
                                   style="cursor:not-allowed" readOnly></td>
                    </tr>

                    <tr>
                        <td colspan="4">
                            <input type="button" value="解除锁定"class="relieve" onclick="relieve()">
                            <input type="button" value="提交更改" class="relieve" onclick="update()">
                            <input type="button" value="关闭" class="relieves"onclick="javascript:$('#dlg').dialog('close')">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    //模糊查询返回信息
    function doSearch(){
        $('#dg').datagrid('load',{
            tb_pName: $('#userN').val(),
        });
    }

    //添加按钮
    function formatOper(val,row,index){
        if(row.peraccState == 1){
            return '<input type="button" id="fengcun" value="修改" onclick="editUser('+index+')"></input> ';
        }else{
            return '<input type="button" id="zanwu" value="暂无" ></input> ';
        }
    }

    //个人贷款  弹出页面
    function editUser(index){
        //var row = $('#dg').datagrid('getSelected');
        var trow = $('#dg').datagrid('getRows');
        var row=trow[index];
        $('#dlg').dialog('open').dialog('setTitle','个人贷款');
        $.post(
            '/sb/particulars',
            {GRZH:row.GRZH},
            function(data){
                $('#fm').form('load',data[0]);
            });
    }
    //解除锁定
    function relieve(){
        $(".inputa").attr("readOnly",false);
        $(".inputa").removeAttr("style");
    }
    //提交更改
    function update(){
        $("#fm").submit();
    }

    //转换比例
    function ubitNrop(val,row){
        if (val != null){
            return '<span>'+val+".00%"+'</span>';
        }
    }
    //转换比例
    function indiNrop(val,row){
        if (val != null){
            return '<span>'+val+".00%"+'</span>';
        }
    }
    //转换状态
    function state(val,row){
        if (val == 1){
            return '<span style="color:green;">正常</span>';
        }else if(val == 2){
            return '<span style="color:red;">封存</span>';
        }else if(val == 0){
            return '<span style="color:red;">销户</span>';
        }

    }

</script>
</html>