<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>人员转移</title>
    <!-- 引入样式 -->
    <script type="text/javascript" src="/sb/js/vue.js"></script>
    <script type="text/javascript" src="/sb/js/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/sb/css/elementui.css">
    <!-- 引入组件库 -->
    <script src="/sb/js/elementui.js"></script>
    <style>
        fieldset {
            color:#333;
            border:#06c dashed 1px;
        }
    </style>

        </head>
<body>
<!--列表-->
<div id="tableView">
    <el-container>

        <el-header width="800px" height="260px">
            <!--<div id="app" style="text-align: center">-->
                <!--<h2>{{ message }}</h2>-->
            <!--</div>-->
            <el-aside width="250px">
            </el-aside>
            <fieldset>
                <legend><h2>人员转移信息列表</h2></legend>
            <el-row style="align-content: center">
                <el-form :model="editForm" label-width="180px" :inline="true" class="demo-form-inline" ref="editForm">
                    <el-form-item >
                        <el-input v-model="editForm.tb_pid" :readonly="true" type="hidden"  ></el-input>
                    </el-form-item>
                    <el-form-item label="转出单位名称">
                        <el-input v-model="editForm.uname" :readonly="true" ></el-input>
                    </el-form-item>
                    <el-form-item label="转出受托银行名称">
                        <el-input v-model="editForm.uaBankName" :readonly="true" ></el-input>
                    </el-form-item>
                    <el-form-item label="转入单位名称">
                        <template>
                            <el-select v-model="editForm.selName" @change="show_sub" placeholder="请选择">
                                <el-option label="请选择" :value="0"></el-option>
                                <el-option
                                        v-for="item in options"
                                        :key="item.uid"
                                        :label="item.uname"
                                        :value="item.uid">
                                </el-option>
                                </span>
                            </el-select>
                        </template>
                    </el-form-item>
                    <el-form-item label="转出受托银行名称">
                        <el-input v-model="editForm.STYH"  :readonly="true" ></el-input>
                    </el-form-item>
                    <el-form-item label="会计凭证日期">
                        <el-input v-model="editForm.date" :readonly="true"  ></el-input>
                    </el-form-item>
                    <el-form-item label="转移原因">
                        <el-input type="textarea" autosize v-model="editForm.resson"></el-input>
                    </el-form-item>
                    <el-form-item >
                        <el-input v-model="editForm.uid" :readonly="true" type="hidden"  ></el-input>
                    </el-form-item>
                    <div style="text-align: center">
                        <el-button type="warning" :plain="true" icon="el-icon-check" round @click.native="editSubmit" plain >提交审核</el-button>
                    </div>
                </el-form>

            </el-row>
            </fieldset>
        </el-header>

        <el-container>
            <el-aside width="150px">
            </el-aside>
            <el-container>
                <el-aside width="650px">
                    <div id="app1" style="text-align: center">
                        <h2>{{ message }}</h2>
                    </div>
                    <el-row>
                        <el-form :inline="true" :model="searchForm" class="demo-form-inline">
                            <!--vue双向显示所以会给表搜索表单中默认的空值-->
                            <el-form-item label="用户名">
                                <el-input v-model="searchForm.tb_pName" placeholder="用户名"></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" :plain="true" round icon="el-icon-search" @click="searchClick">查询</el-button>
                            </el-form-item>

                        </el-form>
                    </el-row>
                    <el-row>
                        <el-table :data="tableData" v-loading.body="loading" border  @row-click="openDetails"  style="width: 640px">
                            <el-table-column prop="tb_pName" align="center"  label="姓名" width="120"></el-table-column>
                            <el-table-column prop="tb_idNUmber" align="center"  label="证件号" width="170"></el-table-column>
                            <el-table-column prop="dalance" align="center"  label="个人账号余额" width="170"></el-table-column>
                            <el-table-column prop="peraccState" align="center" label="个人账号状态" width="170"></el-table-column>
                        </el-table>
                        <el-col :span="9" >
                            <el-pagination style="float: left" @size-change="pageSizeChange" @current-change="currentPageChange" :current-page="currentPage"
                                           :page-sizes="[5, 10, 15, 20]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
                            </el-pagination>
                        </el-col>
                    </el-row>
                </el-aside>
                <el-container>
                    <el-aside width="200px">
                    </el-aside>
                    <el-container>
                        <el-aside width="600px">
                            <div id="app2" style="text-align: center">
                                <h2>{{ message }}</h2>
                            </div>
                            <el-row>
                                <el-form :inline="true" :model="searchForm" class="demo-form-inline">
                                    <!--vue双向显示所以会给表搜索表单中默认的空值-->
                                    <el-form-item label="用户名">
                                        <el-input v-model="searchForm1.tb_pName" placeholder="用户名"></el-input>
                                    </el-form-item>
                                    <el-form-item>
                                        <el-button type="primary" :plain="true" round icon="el-icon-search" @click="searchClick1">查询</el-button>
                                    </el-form-item>
                                </el-form>
                            </el-row>
                            <el-row>
                                <el-table :data="tableDataD" v-loading.body="loading"  border  @row-click="openDetailsD" style="width: 580px">
                                    <el-table-column prop="tb_pName" align="center"  label="姓名" width="90"></el-table-column>
                                    <el-table-column prop="tb_idNUmber"align="center"  label="证件号" width="160"></el-table-column>
                                    <el-table-column prop="dalance" align="center"  label="个人账号余额" width="160"></el-table-column>
                                    <el-table-column prop="peraccState" align="center"  label="个人账号状态" width="160"></el-table-column>
                                </el-table>

                                <el-col :span="9" >
                                    <el-pagination style="float: left" @size-change="pageSizeChange" @current-change="currentPageChange" :current-page="currentPage1"
                                                   :page-sizes="[5, 10, 15, 20]" :page-size="pageSize1" layout="total, sizes, prev, pager, next, jumper" :total="total2">
                                    </el-pagination>
                                </el-col>
                            </el-row>
                        </el-aside>
                    </el-container>
                </el-container>
            </el-container>
        </el-container>
    </el-container>
</div>
</body>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            message: '人员转移信息列表'
        }
    });
    var app1 = new Vue({
        el: '#app1',
        data: {
            message: '全部人员列表'
        }
    });
    var app2 = new Vue({
        el: '#app2',
        data: {
            message: '待转移人员列表'
        }
    });
    var tableView = new Vue({
        el: '#tableView',
        data: {
            //部门select
            options:[],
            //列表数据
            tableData: [],
            tableDataD: [],
            //显示加载中样式
            loading:false,
            //当前页
            currentPage:1,
            //分页大小
            pageSize:5,
            //当前页
            currentPage1:1,
            //分页大小
            pageSize1:5,
            //总记录数
            total:800,
            //搜索表单
            searchForm: {
                tb_pName: ''
            },
            //搜索表单
            searchForm1: {
                tb_pName: ''
            },
            editForm: {
                uname: '',
                uaBankName: '',
                selName: '',
                STYH: '',
                date:new Date().toLocaleString()+'',
                resson: '',
                tb_pid:'',
                uid:''
            },
        },
        created:function(){
            //在 then的内部不能使用Vue的实例化的this, 因为在内部 this 没有被绑定。
            var self = this;
            var start =(self.currentPage-1)*self.pageSize;
            var end =self.pageSize;
            //第一进来后进入的发法
            axios.post('/sb/person/page1',{'start':start,'end':end}).then(function(response){
                //alert("33333="+response.data.total);
                self.total=response.data.total;
                self.tableData = response.data.pageDate;
                self.options = response.data.selectss;
                //alert(JSON.stringify(response.data.pageDate))//查看后台返回的数据
                tableView.self.tableData;
            });
            var start1 =(self.currentPage1-1)*self.pageSize1;
            var end1 =self.pageSize1;
            axios.post('/sb/person/PersonTransfer1',{'start':start1,'end':end1}).then(function(response){
                //alert("22222"+JSON.stringify(response.data));
                //alert("55555"+JSON.stringify(response.data.pageDate))//查看后台返回的数据
                //alert("44444="+JSON.stringify(response.data.total))//查看后台返回的数据
                self.total2=response.data.total;
                self.tableDataD = response.data.pageDate;
                tableView.self.tableDataD;
            });
        },
        methods:{
            //表格重新加载数据
            loadingData:function() {
                var _self = this;
                _self.loading = true;
                var start =(_self.currentPage-1)*_self.pageSize;
                var end =_self.pageSize;
                var searchForm={'start':start,'end':end,'tb_pName':_self.searchForm.tb_pName};
                 //alert(JSON.stringify(searchForm));
                axios.post('/sb/person/page1',searchForm).then(function(response){
                    _self.total=response.data.total;
                    _self.tableData = response.data.pageDate;
                });
                var start1 =(_self.currentPage1-1)*_self.pageSize1;
                var end1 =_self.pageSize1;
                axios.post('/sb/person/PersonTransfer1',{'start':start1,'end':end1,'pname':_self.searchForm1.tb_pName}).then(function(response){
                    //alert("6666"+JSON.stringify(response.data.pageDate));//查看后台返回的数据
                    //alert("7777"+JSON.stringify(response.data.total));
                    _self.total2=response.data.total;
                    _self.tableDataD = response.data.pageDate;
                });
                console.log(_self.currentPage);
                setTimeout(function(){
                    console.info("加载数据成功");
                    _self.loading = false;
                },300);
            },
            //分页大小修改事件
            pageSizeChange:function(val) {
                console.log('每页 ' + val +' 条');
                this.pageSize = val;
                var _self = this;
                _self.loadingData();//重新加载数据
            },
            //当前页修改事件
            currentPageChange:function(val) {
                this.currentPage = val;
                console.log('当前页: ' + val);
                var _self = this;
                _self.loadingData();//重新加载数据
            },
            //表格查询事件
            searchClick:function() {
                var self = this;
                self.loadingData();//重新加载数据
            },
            openDetails:function (row) {
                //alert(row.tb_pName);
                var _self = this;
                var url = "/sb/person/transfer1";
                axios.post(url,{tb_pName:row.tb_pName}).then(function (response) {
                    //alert("有没有tp_id"+JSON.stringify(response.data[0]))//查看后台返回的数据
                    _self.editForm.uid =response.data[0].uid
                    _self.editForm.tb_pid =response.data[0].tb_pid    // Object.assign({}, response.data[0]);
                    _self.editForm.uaBankName =response.data[0].uaBankName
                    _self.editForm.uname =response.data[0].uname
                });
                _self.loadingData();//重新加载数据
            },
            show_sub:function () {
                var _self=this;
                if (_self.editForm.uid==_self.editForm.selName){
                    _self.editForm.selName=0;
                }else {
                    var _self = this;
                    var url = "/sb/person/Trustee1";
                    axios.post(url,{selectId:this.editForm.selName}).then(function (response) {
                       // alert(JSON.stringify(response.data[0].STYH))//查看后台返回的数据
                        _self.editForm.STYH = response.data[0].STYH;
                       // alert(_self.editForm.STYH);
                    });
                }
            },
            //提交审核按钮保存点击事件
            editSubmit:function(){
                var _self = this;
                _self.loading = true;
                var url = "/sb/person/submitVerify1";
                var url1 = "/sb/person/submits1";
                if(_self.editForm.selName!=0&&_self.editForm.resson!=null&&_self.editForm.resson!=""){
                    axios.post(url,{id:_self.editForm.tb_pid}).then(function (response) {
                        //alert("测试response.data.id的值是多少"+response.data);
                        if (response.data==1){
                            //alert("请勿重复操作 !");
                            _self.$message({
                                message: '请勿重复操作 !',
                                type: 'warning'
                            });
                        }else {
                            axios.post(url1,{tb_pid:_self.editForm.tb_pid,selName:_self.editForm.selName,uname:_self.editForm.uname,zy:_self.editForm.resson}).then(function (response) {
                                alert("后台返回的值是："+JSON.stringify(response.data));
                                if(response.data==1){
                                    _self.loadingData();//重新加载数据
                                }
                            });
                        }
                        _self.editForm = {
                            uname: '',
                            uaBankName: '',
                            selName: '',
                            STYH: '',
                            date:new Date().toLocaleString()+'',
                            resson: '',
                            tb_pid:''
                        };
                    });
                    _self.loadingData();//重新加载数据
                }else {
                    alert("请填写完整信息");
                    _self.loadingData();//重新加载数据
                };
                _self.loadingData();//重新加载数据
            },
            //表格查询事件
            searchClick:function() {
                var self = this;
                self.loadingData();//重新加载数据
            },
            //表格查询事件
            searchClick1:function() {
                var self = this;
                self.loadingData();//重新加载数据
            }
        }
    })
</script>
</html>