<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>单位信息</title>
    <link rel="stylesheet" type="text/css" href="/sb/css/PersonalDetails.css">
    <script type="text/javascript" src="/sb/js/jquery-3.3.1.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/sb/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="/sb/new-easyui/icon.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="/sbeasyui/themes/icon.css">

    <link rel="stylesheet" href="/sb/new-easyui/insdep.easyui.min.css" type="text/css">
    <link rel="stylesheet" href="/sb/new-easyui/insdep.theme_default.css" type="text/css">
    <script type="text/javascript" src="/sb/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/sb/easyui/jquery.easyui.min.js"></script>
</head>
<body>
<div id="all">
    <div id="all_a">
        <div id="top">
            <span class="span">单位信息</span> <span style="color:#c0c0c0">&nbsp;资料信息务必填写正确</span>
        </div>

        <div id="top_t">
            <div class="img1">
                <img src="/sb/images/60551.png" ;  style="width:20px;height20px;" />
            </div>
            <!--  图片  -->
            <span class="sp"><a >首页</a> </span>
            <div class="img">
                <img src="/sb/images/02.png" style="width:20px;height20px; " />
            </div>
            <!--  图片  -->
            <span class="sp"><a >账户信息</a> </span>
            <div class="img">
                <img src="/sb/images/02.png" style="width:20px;height20px; " />
            </div>
            <!--  图片  -->
            <span class="sp"><a >单位信息</a> </span>
        </div>

        <div id="p_left">
            <table id="dg" class="easyui-datagrid" title="个人账户信息表"
                   style="width:1610px;min-height:600px" pagination="true"
                   sortable="true" toolbar="#bbb"
                   data-options="singleSelect:true,collapsible:true,url:'/sb/UnitInformation',method:'post'">

                <div id="bbb" style="text-align: center;">
                    <span>用户名:</span> <input id="userN"
                                             style="line-height:26px;border:1px solid #ccc"> <a
                        class="easyui-linkbutton" plain="true" onclick="doSearch()">查询</a>
                </div>
                <thead>
                <tr>
                    <!-- pagination="true" 添加分页     sortable="true" 添加片排序 -->
                    <th data-options="field:'DWZH',width:200,align: 'center'">单位账号</th>
                    <th data-options="field:'uname',width:200,align: 'center'">单位名称</th>
                    <th data-options="field:'uDepositRatio',width:120,align: 'center'"  formatter="ubitNrop">单位缴存比例</th>
                    <th data-options="field:'uPersonRatio',width:120,align: 'center'" formatter="indiNrop">个人缴存比例</th>
                    <th data-options="field:'uDepositedPnum',width:100,align: 'center'">单位缴存人数</th>
                    <th data-options="field:'uARemain',width:135,align: 'center'" >单位账户余额</th>
                    <th data-options="field:'uaOweMonery',width:120,align: 'center'" >应缴纳金额</th>
                    <th data-options="field:'uaState',width:120,align: 'center'" formatter="state">单位账户状态</th>
                    <th data-options="field:'KHRQ',width:148,align: 'center'"  >单位开户日期</th>
                    <th data-options="field:'a',width:120,align: 'center',formatter:formatOper">操作</th>
                </tr>
                </thead>

            </table>
        </div>


        <!--修改按钮 弹出层  -->
        <div id="dlg" class="easyui-dialog" style="width:1200px;min-height:500px;"
             closed="true" buttons="#dlg-buttons">
            <form action="/sb/unitModification" id="fm" method="post" enctype ="multipart/form-data" >
                <table id="table1">
                    <tr>
                        <td>
                            <p>公 司 名 称:</p></td>
                        <td><input type="text" name="uname" class="inputa"
                                   style="cursor:not-allowed" readOnly></td>
                        <td>
                            <p>单位缴存人数:</p></td>
                        <td><input name="uDepositedPnum" type="text" class="inputc"
                                   style="cursor:not-allowed" readOnly></td>
                        <td>
                            <p>经办人电话:</p></td>
                        <td><input name="uOpIphone" type="text" class="inputa"
                                   style="cursor:not-allowed" readOnly></td>
                    </tr>

                    <tr>
                        <td>
                            <p>公 司 地 址:</p></td>
                        <td><input type="text" name="uAddress" class="inputa"
                                   style="cursor:not-allowed" readOnly></td>
                        <td>
                            <p>单位账户余额:</p></td>
                        <td><input name="uARemain" type="text" class="inputc"
                                   style="cursor:not-allowed" readOnly></td>
                        <td>
                            <p>证 件 类 型:</p></td>
                        <td>
                            <select name="JBRZJLX" class="inputa"
                                    style="cursor:not-allowed" readOnly>
                                <option value="身份证">身份证</option>
                                <option value="户口本">户口本</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p>公 司 类 型:</p></td>
                        <td>
                            <select name="GSLX" class="inputa"
                                    style="cursor:not-allowed" readOnly>
                                <option value="有限责任公司">有限责任公司</option>
                                <option value="股份有限公司">股份有限公司</option>
                                <option value="合伙企业">合伙企业</option>
                                <option value="国有企业">国有企业</option>
                                <option value="全民所有制公司">全民所有制公司</option>
                                <option value="集体所有制公司">集体所有制公司</option>
                            </select>
                        </td>
                        <td>
                            <p>单位缴存比例:</p></td>
                        <td><input name="uDepositRatio" type="text" class="inputc"
                                   style="cursor:not-allowed" readOnly></td>
                        <td>
                            <p>证 件 号 码:</p></td>
                        <td><input name=JBRZJHM type="text" class="inputa"
                                   style="cursor:not-allowed" readOnly></td>
                    </tr>

                    <tr>
                        <td>
                            <p>所 属 行 业:</p></td>
                        <td>
                            <select name="SSHY" class="inputa"
                                    style="cursor:not-allowed" readOnly>
                                <option value="农、林、牧、渔业">农、林、牧、渔业</option>
                                <option value="环境和公共设施管理业">环境和公共设施管理业</option>
                                <option value="制造业">制造业</option>
                                <option value="交通运输、仓储业和邮政业">交通运输、仓储业和邮政业</option>
                                <option value="批发和零售业">批发和零售业</option>
                                <option value="房地产业">房地产业</option>
                            </select>
                        </td>
                        <td>
                            <p>个人缴存比例:</p></td>
                        <td><input name="uPersonRatio" type="text" class="inputc"
                                   style="cursor:not-allowed" readOnly></td>
                        <td>
                            <p>开 户 银 行:</p></td>
                        <td>
                            <select name="uaBankName" style="cursor:not-allowed"
                                    class="inputa">
                                <option value="中国银行">中国银行</option>
                                <option value="中国工商银行">中国工商银行</option>
                                <option value="中国建设银行">中国建设银行</option>
                                <option value="中国农业银行">中国农业银行</option>
                                <option value="中国邮政银行">中国邮政银行</option>
                                <option value="中国交通银行">中国交通银行</option>
                                <option value="中国人民银行">中国人民银行</option>

                            </select></td>
                    </tr>

                    <tr>
                        <td>
                            <p>隶 属 关 系:</p></td>
                        <td>
                            <select name="LSGX" style="cursor:not-allowed"
                                    class="inputa">
                                <option value="省">省</option>
                                <option value="地区">地区</option>
                                <option value="县">县</option>
                                <option value="街道">街道</option>
                                <option value="乡">乡</option>
                            </select></td>
                        <td>
                            <p>单位账号状态:</p></td>
                        <td>
                            <select name="uaState" style="cursor:not-allowed"
                                    class="inputc">
                                <option value="1">正常</option>
                                <option value="2">封存</option>
                            </select>
                        </td>
                        <td>
                            <p>受 托 银 行:</p></td>
                        <td><select name="STYH" style="cursor:not-allowed" class="inputa">
                            <option value="中国银行">中国银行</option>
                            <option value="中国工商银行">中国工商银行</option>
                            <option value="中国建设银行">中国建设银行</option>
                            <option value="中国农业银行">中国农业银行</option>
                            <option value="中国邮政银行">中国邮政银行</option>
                            <option value="中国交通银行">中国交通银行</option>
                            <option value="中国人民银行">中国人民银行</option>

                        </select>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p>经 济 类 型:</p></td>
                        <td><select name="JJLX" style="cursor:not-allowed"
                                    class="inputa">
                            <option value="国有经济">国有经济</option>
                            <option value="集体经济">集体经济</option>
                            <option value="个体经济">个体经济</option>
                            <option value="私营经济">私营经济</option>
                            <option value="联营经济">联营经济</option>
                            <option value="股份制">股份制</option>
                            <option value="外商投资">外商投资</option>
                            <option value="港澳台投资">港澳台投资</option>
                            <option value="其他经济">其他经济</option>
                        </select></td>
                        <td>
                            <p>单位开户日期:</p></td>
                        <td><input name="KHRQ" type="text" class="inputc"
                                   style="cursor:not-allowed" readOnly></td>
                        <td>
                            <p>开 户 账 号:</p></td>
                        <td><input name="uaBankNumber" type="text" class="inputa"
                                   style="cursor:not-allowed" readOnly></td>
                    </tr>

                    <tr>
                        <td>
                            <p>单 位 编 号:</p></td>
                        <td><input type="text" name="uNetworkCode" class="inputc"
                                   style="cursor:not-allowed" readOnly></td>
                        <td>
                            <p>业务操作人员:</p></td>
                        <td><input name="YWBLR" type="text" class="inputc"
                                   style="cursor:not-allowed" readOnly></td>
                        <td>
                            <p>法 人 名 字:</p></td>
                        <td><input name="uLegalPerson" type="text" class="inputa"
                                   style="cursor:not-allowed" readOnly></td>
                    </tr>

                    <tr>
                        <td>
                            <p>月 发 薪 日:</p></td>
                        <td><input type="text" name="uPayDate" class="inputa"
                                   style="cursor:not-allowed" readOnly></td>
                        <td>
                            <p>公司成立日期:</p></td>
                        <td><input name="UnitBeginDate" type="text" class="inputa"
                                   style="cursor:not-allowed" readOnly></td>
                        <td>
                            <p>证 件 类 型:</p></td>
                        <td><select name="ULegalType" class="inputa"
                                    style="cursor:not-allowed" readOnly>
                            <option value="身份证">身份证</option>
                            <option value="户口本">户口本</option>
                        </select>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p>积 金 账 号:</p></td>
                        <td><input type="text" name="DWZH" class="inputc"
                                   style="cursor:not-allowed" readOnly></td>
                        <td>
                            <p>经办人 姓名:</p></td>
                        <td><input name="uOperator" type="text" class="inputa"
                                   style="cursor:not-allowed" readOnly></td>
                        <td>
                            <p>证 件 号 码:</p></td>
                        <td><input name="ULegalCard" type="text" class="inputa"
                                   style="cursor:not-allowed" readOnly>
                            <input name="uid" type="hidden"></td>
                    </tr>
                    <tr>
                        <td >
                            <p>营业执照:</p></td>
                        <td colspan="5" style="text-align:left;">
                            <a  id="aid">
                                <!--<img  id="yyzz" name = "yyzz"  width="100px;"  height="100px;">-->
                                <IMG id="yyzz" name = "yyzz" height="60px" width="60px" th:src="@{/sb/news/show(fileName=src)}" >
                            </a>
                            <input type= "file" id="yz" name = "yz" />
                            <input type="hidden"  name="YYZZ">
                        </td>
                    </tr>


                    <tr>
                        <td colspan="6">
                            <input type="button" value="解除锁定"class="relieve" onclick="relieve()">
                            <input type="button" value="提交更改" class="relieve" onclick="update()">
                            <input type="button" value="关闭" class="relieves"onclick="javascript:$('#dlg').dialog('close')">
                        </td>
                    </tr>
                </table>
            </form>
        </div>


    </div>
</div>
</body>
<script type="text/javascript">
    //模糊查询返回信息
    function doSearch(){
        $('#dg').datagrid('load',{
            tb_pName: $('#userN').val(),
        });
    }

    //添加按钮
    function formatOper(val,row,index){
        return '<input type="button" id="fengcun" value="修改" onclick="editUser('+index+')"></input> ';
    }

    //个人贷款  弹出页面
    function editUser(index){
        var trow = $('#dg').datagrid('getRows');
        var row=trow[index];
        $('#dlg').dialog('open').dialog('setTitle','个人贷款');
        $.post(
            '/sb/tan',
            {DWZH:row.DWZH},
            function(data){
                alert(data[0].YYZZ);
                $("#yyzz").attr("src",data[0].YYZZ);
                $("#aid").attr("href",data[0].YYZZ);
                $('#fm').form('load',data[0]);
            });
    }
    //解除锁定
    function relieve(){
        $(".inputa").attr("readOnly",false);
        $(".inputa").removeAttr("style");
    }

    //提交更改
    function update(){
        $("#fm").submit();
    }

    //转换比例
    function ubitNrop(val,row){
        if (val != null){
            return '<span>'+val+".00%"+'</span>';
        }
    }
    //转换比例
    function indiNrop(val,row){
        if (val != null){
            return '<span>'+val+".00%"+'</span>';
        }
    }
    //转换状态
    function state(val,row){
        if (val == 1){
            return '<span style="color:green;">正常</span>';
        }else if(val == 2){
            return '<span style="color:red;">封存</span>';
        }else if(val == 0){
            return '<span style="color:red;">销户</span>';
        }

    }

</script>
</html>